{% extends "YLCoreAppBundle::myLayout.html.twig" %}
{% block title %}
    Titre
    -
    Marseille
{% endblock %}

{% block header %}
    <div class="wrapper">
        <div class="profiledetails_sec pattern-header">
            <div class="container">
                <h2>

                    Preteur
                    à
                    Marseille

                </h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
<!-- <link rel="stylesheet" href="/jquery-ui.css"> <link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css"> -->

<!-- Updated stylesheet url -->
<link rel="stylesheet" href="//jonthornton.github.io/jquery-timepicker/jquery.timepicker.css">

<!-- Updated JavaScript url -->
<script src="//jonthornton.github.io/jquery-timepicker/jquery.timepicker.js"></script>


<section class="view-profile">

    <div class="wrapper">
        <div class="container">
            <div class="breadcamp_row hidden-xs hidden-sm">

                <div class="clear"></div>
            </div>
        </div>
        <!-- breadcamp row end-->
        {# /// SECTION TITRE ANNONCE /// #}
        <section class="container profile-section title-section">
            <div class="row">
                <div class="col-md-3 avatar-col">
                    {# ⚠️ MOBILE + TABLETTE // Coeur d'ajout aux favoris #}
                    <div class="favorites-btn hidden-md">
                        <a href="#" id="heartFin" class="nofav">
                            <i class="ion-android-favorite-outline"></i>
                        </a>
                    </div>
                    {# Photo / Note / Badge #}
                    <div class="profile-pic">
                        <figure class="square-img-ctn">
                            <div style="background-image:url('https://cps-static.rovicorp.com/2/Open/Getty/Bruce%20Willis/_2by3/_derived_jpg_q90_500x500_m0/91126184.jpg?partner=allrovi.com');" class="image-bg-w285 image-bg">
                                <img class="image-bg-placeholder" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
                                <img class="image-bg-img sr-only" src="https://cps-static.rovicorp.com/2/Open/Getty/Bruce%20Willis/_2by3/_derived_jpg_q90_500x500_m0/91126184.jpg?partner=allrovi.com" alt="">
                            </div>
                        </figure>
                        {# ⚠️ MOBILE // Prénom / Initiale nom / Âge / Ville principale #}
                        <h2 class="hidden-md">Bruce W.
                            {# ⚠️ MOBILE // Ville et type de garde #}
                            <br>
                            <small>
                                63 ans, prêteur
                            </small>
                        </h2>
                        {# TODO plus tard : afficher les récompenses de la nounou #}
                        {#<img src="{{asset('images/icons/medal-w.png')}}" alt="Badge superstar GME" class="advert-badge">#}
                        {# Note moyenne des avis (étoiles) #}
                    </div>

                </div>
                <div class="col-md-9">
                    {# Intro annonce nounou #}
                    <div class="row">
                        <div class="col-sm-8">
                            {# ⚠️ DESKTOP // Prénom / Initiale nom / Âge / Ville principale #}
                            <h1 class="hidden-xs hidden-sm">Bruce W.
                                {# ⚠️ DESKTOP // Ville et type de garde #}
                                <small>
                                    68 ans
                                    prêteur
                                </small>
                            </h1>
                            {# Ville principale + ancre vers les autres si il y a #}
                            <p>
                                <i class="ion-location"></i>
                                Marseille
                            </p>
                            {# Infos principales annonce (prix, expérience, Âges) #}
                            <div class="advert-keys">

                                <ul class="list-inline list-unstyled">
                                    <li class="price">
                                        <p class="title">Expérience</p>
                                        <p class="content">
                                            A prété son véhicule pendant 6 mois
                                        </p>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-4 advert-buttons-col">
                            {# ⚠️ DESTKOP // Coeur d'ajout aux favoris #}
                            <div class="favorites-btn hidden-xs  hidden-sm">
                                <a href="#" id="heartFin" class="nofav">
                                    <i class="ion-android-favorite-outline"></i>
                                </a>
                            </div>
                            {# ------------ BOUTONS "CONTACTER" + "APPELER" (Audiotel) ------------ #}
                            <div class="contact-btns-col">


                                {# ---Si user connecté : peut contacter et envoyer des demandes--- #}

                                {# --Utilisateur = PARENT + n'a JAMAIS DISCUTÉ avec la nounou  = modale de demande--#}
                                <a class="plain-btn orange-btn fix-bt-mobile" href="#" data-toggle="modal" data-target="#modalProposition">
                                    Contacter
                                    <span class="hidden-md">
                                                Emma</span>
                                </a>


                                <div class="clearfix"></div>

                                {# ------------ DISPONIBILITÉS ------------ #}
                                {# -- Si disponibilité confirmée : affiche "Disponibilité confirmée" -- #}

                                {# Quelqu'un d'autre consulte l'annonce : popover 'elle / il' #}
                                <p
                                        class="avail-status"
                                        data-toggle="popover"
                                        data-placement="bottom"
                                        data-content="Emma a confirmé qu'elle était disponible il y a moins de 15 jours">

                                    <i class="ion-ios-circle-filled wow flash" data-wow-iteration="100" data-wow-duration="3s"></i>
                                    <strong>Disponibilité confirmée</strong>
                                </p>

                                <a type="button" class="flag-user hidden-xs" data-toggle="modal" data-target="#flagUserForm">
                                    <span class="lnr lnr-flag"></span>
                                    Signaler l'utilisateur
                                </a>
                                {# Modale signalement user #}
                                <div class="modal fade" id="flagUserForm" tabindex="-1" role="dialog" aria-labelledby="flagUserFormLabel">
                                    <div class="modal-dialog text-left" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <h4 class="modal-title red-txt" id="flagUserFormLabel">
                                                    <span class="lnr lnr-warning"></span>
                                                    Signaler un utilisateur</h4>
                                            </div>
                                            <div class="modal-body">
                                                <h5 class="text-center">Que s'est-il passé avec
                                                    Emma
                                                    ?</h5>
                                                <p class="text-center">Aidez-nous à mieux comprendre la raison de votre signalement</p>
                                                <br>
                                                <p class="red-txt text-center">
                                                    <i class="ion-information-circled"></i>
                                                    Un signalement utilisateur sert à nous avertir d'un comportement
                                                    <strong>frauduleux</strong>
                                                    ou
                                                    <strong>douteux</strong>
                                                    sur notre site.</p>
                                                <!-- <p></p> -->
                                                <form class="" action="#" method="post">
                                                    <div class="form-group">
                                                        <label for="reasonFlagUser"></label>
                                                        <div class="radio large-radio">
                                                            <label>
                                                                <input type="radio" name="reasonFlagUser" id="Tentative d'arnaque" value="Tentative d'arnaque" checked="checked">
                                                                Tentative d'arnaque
                                                            </label>
                                                        </div>
                                                        <div class="radio large-radio">
                                                            <label>
                                                                <input type="radio" name="reasonFlagUser" id="Discours haineux, discriminant ou grossier" value="Discours haineux, discriminant ou grossier">
                                                                Discours haineux, discriminant ou grossier
                                                            </label>
                                                        </div>
                                                        <div class="radio large-radio">
                                                            <label>
                                                                <input type="radio" name="reasonFlagUser" id="Spam : l'utilisateur vous envoie beaucoup trop de messages" value="Spam : l'utilisateur vous envoie beaucoup trop de messages">
                                                                Spam : l'utilisateur vous envoie beaucoup trop de messages
                                                            </label>
                                                        </div>
                                                        <div class="radio large-radio">
                                                            <label>
                                                                <input type="radio" name="reasonFlagUser" id="Autre : précisez ci-dessous" value="Autre : précisez ci-dessous">
                                                                Autre : précisez ci-dessous
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <textarea name="flagAjoutComm" class="form-control" rows="6" placeholder="Précisions sur mon signalement (copie du message, commentaires, etc.)" required="true"></textarea>
                                                    </div>
                                                    <button type="submit" class="bordered-btn danger-btn">
                                                        Envoyer mon signalement</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
        </section>
        <div class="container profile-content">
            <div class="row">
                {# ------------ SIDEBAR ANNONCE ------------ #}
                <aside class="col-md-3">
                    {# VÉRIFICATIONS DE LA NOUNOU : ne s'affichent pas pour les autres si elle n'en n'a pas, s'affiche chez la nounou pour qu'elle complète les étapes #}
                    <!-- TODO : Ajouter un OR profil évalué une fois que la variable sera arrivée // Supprimer ce commentaire une fois que c'est OK -->
                    <article class="trust-col-view col-md-12 col-sm-12">
                        <h3 class="probabytext01">
                            <i class="ion-checkmark"></i>
                            Vérifications
                        </h3>
                        <ul class="trust-profile">
                            <li class="done">
                                Email vérifié
                                <i class="ion-checkmark-circled pull-right"></i>
                            </li>
                            <li class="done">
                                Facebook connecté
                                <i class="ion-checkmark-circled pull-right"></i>
                            </li>
                            <li class="done">
                                Profil évalué
                                <i class="ion-checkmark-circled pull-right"></i>
                            </li>
                        </ul>
                    </article>

                    {# ------ VILLES OÙ ELLE PEUT SE DÉPLACER // ⚠️ DESKTOP ------ #}
                    {#<article class="col-md-12 col-sm-4 hidden-xs" id="view-cities">
                        <h3 class="probabytext01">
                            <i class="ion-android-car"></i>
                            Je me déplace à
                        </h3>

                        <ul class="availabilities">
                            <li>
                                <a href="#">
                                    <i class="ion-arrow-right-b" aria-hidden="true"></i>
                                    Marseille
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="ion-arrow-right-b" aria-hidden="true"></i>
                                    Aix
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="ion-arrow-right-b" aria-hidden="true"></i>
                                    Aubagne
                                </a>
                            </li>

                        </ul>
                    </article>#}
                </aside>

                {# ------------ SUITE ANNONCE ------------ #}
                <div class="col-md-9 advert-details">
                    <article class="probaby_left01 col-sm-12">
                        <h2 class="probabytext01">
                            <i class="ion-person"></i>
                            Tesla Model S
                        </h2>
                        <div class="row">
                        <div class="col-md-8">
                            <figure class="square-img-ctn">
                                <div style="background-image:url('http://www.automobile-propre.com/wp-content/uploads/2016/12/tesla-model-s-bleu-657x438.jpg');"
                                     class="image-bg-car">
                                    <img class="image-bg-placeholder"
                                         src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
                                         alt="">
                                    <img class="image-bg-img sr-only"
                                         src="http://www.automobile-propre.com/wp-content/uploads/2016/12/tesla-model-s-bleu-657x438.jpg"
                                         alt="">
                                </div>
                            </figure>
                        </div>
                        <div class="col-md-4">
                            <ul class="trust-profile">
                                <li class="done">
                                    Contrôle Technique OK
                                    <i class="ion-checkmark-circled pull-right"></i>
                                </li>
                                <li>
                                    2018 - 50 000 KM
                                </li>
                                <li>
                                    Climatisation
                                </li>
                                <li>
                                    Pilote automatique
                                </li>
                            </ul>
                        </div>
                        </div>

                    </article>
                    {# ------ TITRE ET ANNONCE ------ #}
                    <article class="probaby_left01 col-sm-12">
                        <h2 class="probabytext01">
                            <i class="ion-person"></i>
                            Véhicule dispo !
                        </h2>
                        <p class="probabytext02">
                            On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est
                            source de distractions, et empêche de se concentrer sur la mise en page elle-même.
                            L'avantage du Lorem Ipsum sur un texte générique comme 'Du texte. Du texte. Du texte.' est
                            qu'il possède une distribution de lettres plus ou moins normale, et en tout cas comparable
                            avec celle du français standard. De nombreuses suites logicielles de mise en page ou
                            éditeurs de sites Web ont fait du Lorem Ipsum leur faux texte par défaut, et une recherche
                            pour 'Lorem Ipsum' vous conduira vers de nombreux sites qui n'en sont encore qu'à leur phase
                            de construction. Plusieurs versions sont apparues avec le temps, parfois par accident,
                            souvent intentionnellement (histoire d'y rajouter de petits clins d'oeil, voire des phrases
                            embarassantes).
                        </p>
                    </article>
                    {# ------ Besoins ------ #}
                    <article class="probaby_left01 col-sm-12">

                        <h3 class="probabytext01">
                            <i class="ion-android-calendar"></i>
                            Mes besoins
                        </h3>

                        <div class="docs-main">
                            <table class="tablesaw" data-tablesaw-mode="swipe">
                                <thead>
                                <tr>
                                    <th class="title" scope="col" data-tablesaw-sortable-col="data-tablesaw-sortable-col" data-tablesaw-priority="persist">&nbsp;</th>
                                    <th scope="col" data-tablesaw-sortable-col="data-tablesaw-sortable-col" data-tablesaw-sortable-default-col="data-tablesaw-sortable-default-col" data-tablesaw-priority="3">Lun
                                    </th>
                                    <th scope="col" data-tablesaw-sortable-col="data-tablesaw-sortable-col" data-tablesaw-priority="2">Mar
                                    </th>
                                    <th scope="col" data-tablesaw-sortable-col="data-tablesaw-sortable-col" data-tablesaw-priority="1">Mer
                                    </th>
                                    <th scope="col" data-tablesaw-sortable-col="data-tablesaw-sortable-col" data-tablesaw-priority="4">Jeu
                                    </th>
                                    <th scope="col" data-tablesaw-sortable-col="data-tablesaw-sortable-col" data-tablesaw-priority="4">Ven
                                    </th>
                                    <th scope="col" data-tablesaw-sortable-col="data-tablesaw-sortable-col" data-tablesaw-priority="4">Sam
                                    </th>
                                    <th scope="col" data-tablesaw-sortable-col="data-tablesaw-sortable-col" data-tablesaw-priority="4">Dim</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="title">7h à 9h</td>
                                    <td>
                                    </td>
                                    <td>
                                        <i class="ion-checkmark"></i>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                        <i class="ion-checkmark"></i>
                                    </td>
                                    <td>
                                        <i class="ion-checkmark"></i>
                                    </td>
                                    <td>
                                        <i class="ion-checkmark"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="title">9h à 12h</td>
                                    <td>
                                    </td>
                                    <td>
                                        <i class="ion-checkmark"></i>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                        <i class="ion-checkmark"></i>
                                    </td>
                                    <td>
                                        <i class="ion-checkmark"></i>
                                    </td>
                                    <td>
                                        <i class="ion-checkmark"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="title">12h à 14h</td>
                                    <td>
                                    </td>
                                    <td>
                                        <i class="ion-checkmark"></i>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                        <i class="ion-checkmark"></i>
                                    </td>
                                    <td>
                                        <i class="ion-checkmark"></i>
                                    </td>
                                    <td>
                                        <i class="ion-checkmark"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="title">14h à 16h30</td>
                                    <td>
                                        <i class="ion-checkmark"></i>
                                    </td>
                                    <td>
                                        <i class="ion-checkmark"></i>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                        <i class="ion-checkmark"></i>
                                    </td>
                                    <td>
                                        <i class="ion-checkmark"></i>
                                    </td>
                                    <td>
                                        <i class="ion-checkmark"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="title">16h30 à 18h</td>

                                    <td>
                                        <i class="ion-checkmark"></i>
                                    </td>
                                    <td>
                                        <i class="ion-checkmark"></i>
                                    </td>
                                    <td>
                                        <i class="ion-checkmark"></i>
                                    </td>
                                    <td>
                                        <i class="ion-checkmark"></i>
                                    </td>
                                    <td>
                                        <i class="ion-checkmark"></i>
                                    </td>
                                    <td>
                                        <i class="ion-checkmark"></i>
                                    </td>
                                    <td>
                                        <i class="ion-checkmark"></i>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="title">18h à 20h</td>
                                    <td>
                                        <i class="ion-checkmark"></i>
                                    </td>
                                    <td>
                                        <i class="ion-checkmark"></i>
                                    </td>
                                    <td>
                                        <i class="ion-checkmark"></i>
                                    </td>
                                    <td>
                                        <i class="ion-checkmark"></i>
                                    </td>
                                    <td>
                                        <i class="ion-checkmark"></i>
                                    </td>
                                    <td>
                                        <i class="ion-checkmark"></i>
                                    </td>
                                    <td>
                                        <i class="ion-checkmark"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="title">20h à minuit</td>

                                    <td>
                                        <i class="ion-checkmark"></i>
                                    </td>
                                    <td>
                                        <i class="ion-checkmark"></i>
                                    </td>
                                    <td>
                                        <i class="ion-checkmark"></i>
                                    </td>
                                    <td>
                                        <i class="ion-checkmark"></i>
                                    </td>
                                    <td>
                                        <i class="ion-checkmark"></i>
                                    </td>
                                    <td>
                                        <i class="ion-checkmark"></i>
                                    </td>
                                    <td>
                                        <i class="ion-checkmark"></i>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </article>
                    {# ------ AVIS ------ #}
                    <article class="probaby_left01 view-reco col-sm-12">
                        <!-- <div class="row"> -->
                        <div class="probaby_left01">
                            <h3 class="probabytext01">
                                <i class="ion-ios-star-half"></i>
                                Avis
                            </h3>

                            {# Boucle sur les avis #}
                            <div class="row recommendations-row">
                                {# Photo et nom du parent qui donne son avis #}
                                <div class="col-md-3 col-sm-3 text-center name-rating-ctn">
                                    <div class="square-img-ctn">
                                        <figure class="image-bg image-bg-w85" style="background-image:url('http://image.noelshack.com/fichiers/2016/44/1478265657-emma-watson-by-carter-bowman-photoshoot-1.jpg')">
                                            <img class="image-bg-placeholder" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
                                            <img class="image-bg-img sr-only" src="http://image.noelshack.com/fichiers/2016/44/1478265657-emma-watson-by-carter-bowman-photoshoot-1.jpg">
                                        </figure>
                                    </div>
                                    <div class="name-rating">
                                        <h3>Emma
                                            <strong>W.</strong>
                                        </h3>
                                        <input class="rating rating-loading" data-disabled="true" value="5" data-size="xs">
                                    </div>

                                </div>
                                {# Avis déposé par le parent #}
                                <div class="col-md-9 col-sm-9">
                                    <p class="nounou-feedback">Bruce t'es trop la famille ! ;)</p>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <p>
                                                <strong>Avis déposé le :</strong>
                                                12/08/2019
                                            </p>
                                            <fieldset class="starability-basic">
                                                <input type="radio" id="rate5" name="rating" value="5" />
                                                <label for="rate5" title="Amazing">5 stars</label>
                                                <input type="radio" id="rate4" name="rating" value="4" />

                                                <label for="rate4" title="Very good">4 stars</label>
                                                <input type="radio" id="rate3" name="rating" value="3" />
                                                <label for="rate3" title="Average">3 stars</label>
                                                <input type="radio" id="rate2" name="rating" value="2" />
                                                <label for="rate2" title="Not good">2 stars</label>
                                                <input type="radio" id="rate1" name="rating" value="1" />
                                                <label for="rate1" title="Terrible">1 star</label>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>

                    </article>

                    {# ------ VILLES OÙ ELLE PEUT SE DÉPLACER // ⚠️ MOBILE + TABLET ------ #}
                    <article class="probaby_left01 view-reco col-sm-12 hidden-md" id="view-cities">
                        <h3 class="probabytext01">
                            <i class="ion-android-car"></i>
                            Je me déplace à :
                        </h3>
                        <ul class="availabilities">
                            <li>
                                <a href="#">
                                    <i class="ion-arrow-right-b" aria-hidden="true"></i>
                                    Marseille
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="ion-arrow-right-b" aria-hidden="true"></i>
                                    Aix
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="ion-arrow-right-b" aria-hidden="true"></i>
                                    Aubagne
                                </a>
                            </li>
                        </ul>
                    </article>

                </div>
            </div>
        </div>
    </div>
    </div>
    <div id="dialogoverlay"></div>
    <div id="dialogbox">
        <div>
            <div id="dialogboxhead"></div>
            <div id="dialogboxbody"></div>
            <div id="dialogboxfoot"></div>
        </div>
        <!-- Laisser cette div fermante -->
    </div>
    </div>
    </div>
    <!-- Fin de la div fermante à laisser-->
    {% endblock %}
