<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="ThemeStarz">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,500,600">
    <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.min.css ') }} ">
    <link rel="stylesheet" href="{{ asset('assets/font-awesome/css/fontawesome-all.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/owl.carousel.min.css') }}">
    <title>Lendy</title>

</head>
<body data-spy="scroll" data-target=".navbar" class="">
<div class="ts-page-wrapper" id="page-top">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top ts-separate-bg-element in" data-bg-color="#1a1360">
        <div class="container">
            <a class="navbar-brand" href="{{ path('yl_core_app_myhome') }}">
                <img src="{{ asset('assets/img/logopetit.png') }}" alt="">
            </a>
            <!--end navbar-brand-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!--end navbar-toggler-->
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link ts-scroll btn btn-primary btn-sm text-white ml-3 px-3 ts-width__auto" href="{{ path('yl_core_app_myLogin') }}">Se connecter</a>
                    <a class="nav-item nav-link ts-scroll btn btn-primary btn-sm text-white ml-3 px-3 ts-width__auto" href="{{ path('yl_core_app_register_choice') }}">S'inscrire</a>
                </div>
                <!--end navbar-nav-->
            </div>
            <!--end collapse-->
        </div>
        <!--end container-->
    </nav>
    <!--*********************************************************************************************************-->
    <!--************ HERO ***************************************************************************************-->
    <!--*********************************************************************************************************-->
    <!--end #hero-->

    <!--*********************************************************************************************************-->
    <!--************ CONTENT ************************************************************************************-->
    <!--*********************************************************************************************************-->
    <main id="ts-content">

        <!--HOW IT WORKS ****************************************************************************************-->
        {#<section id="how-it-works" class="ts-block text-center">
            <div class="container">
                <!--end ts-title-->
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-xl-6">
                        <figure data-animate="ts-fadeInUp">
                            <figure class="icon mb-5 p-2">
                                <img src="{{ asset('assets/img/wheel.png') }}" alt="">
                                <div class="ts-svg" data-animate="ts-zoomInShort" data-bg-image="{{ asset('assets/svg/organic-shape-01.svg') }}"></div>
                            </figure>
                            <h4>Je suis chauffeur</h4>
                            <p>
                                Vous avez du temps à consacrer à la plateforme, et vous voulez récuperer un véhicule en échange?
                            </p>
                            <a href="#" class="btn btn-primary mb-4 ts-scroll">S'inscrire</a>
                        </figure>
                    </div>
                    <!--end col-xl-4-->
                    <div class="col-sm-6 col-md-6 col-xl-6">
                        <figure data-animate="ts-fadeInUp" data-delay="0.1s">
                            <figure class="icon mb-5 p-2">
                                <img src="{{ asset('assets/img/handshake.png') }}" alt="">
                                <div class="ts-svg" data-animate="ts-zoomInShort" data-bg-image="{{ asset('assets/svg/organic-shape-02.svg') }}"></div>
                            </figure>
                            <h4>Je suis prêteur</h4>
                            <p>
                                Vous avez un véhicule à dispotition mais vous l'utilsez rarement. Prêtez le en échange d'un chauffeur !
                            </p>
                            <a href="#" class="btn btn-primary mb-4 ts-scroll">S'inscrire</a>
                        </figure>
                    </div>
                    <!--end col-xl-4-->

                </div>
                <!--end row-->
            </div>
            <!--end container-->
        </section>#}
        <!--END HOW IT WORKS ************************************************************************************-->

        <input type="radio" checked id="toggle--login" name="toggle" class="ghost-login" />
        <input type="radio" id="toggle--signup" name="toggle" class="ghost-login" />

        <img class="logo-login framed-login" src="{{ asset('assets/img/logo-moyen.png') }}" alt="Lendy logo" />

        <div class="form-login form--signup-login framed-login">
            <h2 class="text-login text--centered-login text--omega-login">Rejoignez la communauté Lendy.</h2>

            {{ form_start(form) }}
            {{ form_row(form.nom) }}
            {{ form_row(form.prenom) }}
            {{ form_row(form.email) }}
            {{ form_row(form.password, { 'type': 'password' }) }}

            <button type="submit">Register!</button>
            {{ form_end(form) }}

            <label for="toggle--login" class="text-login text--small-login text--centered-login">Déja inscrit? <b><a href="{{ path('yl_core_app_myLogin') }}">Connectez vous!</a></b></label>
        </div>


        <div class="fullscreen-bg-register"></div>

    </main>
    <!--end #content-->

</div>
<!--end page-->

<script>
    if( document.getElementsByClassName("ts-full-screen").length ) {
        document.getElementsByClassName("ts-full-screen")[0].style.height = window.innerHeight + "px";
    }
</script>
<script src="{{ asset('assets/js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ asset('assets/js/popper.min.js') }}"></script>
<script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/js/imagesloaded.pkgd.min.js') }}"></script>
<script src="{{ asset('assets/js/isInViewport.jquery.js') }}"></script>
<script src="{{ asset('assets/js/jquery.particleground.min.js') }}"></script>
<script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>
<script src="{{ asset('assets/js/scrolla.jquery.min.js') }}"></script>
<script src="{{ asset('assets/js/jquery.validate.min.js') }}"></script>
<script src="{{ asset('assets/js/jquery-validate.bootstrap-tooltip.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/TweenMax.min.js"></script>
<script src="{{ asset('assets/js/jquery.wavify.js') }}"></script>

<script src="{{ asset('assets/js/custom.js') }}"></script>


</body>
</html>
