<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="ThemeStarz">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,500,600">
    <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.min.css ') }} ">
    <link rel="stylesheet" href="{{ asset('assets/font-awesome/css/fontawesome-all.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/owl.carousel.min.css') }}">
    <title>Lendy</title>

</head>
<body data-spy="scroll" data-target=".navbar" class="">
<div class="ts-page-wrapper" id="page-top">
    <!--*********************************************************************************************************-->
    <!--************ HERO ***************************************************************************************-->
    <!--*********************************************************************************************************-->

        <!--NAVIGATION ******************************************************************************************-->
        <nav class="navbar  navbar navbar-expand-lg navbar-dark fixed-top ts-separate-bg-element in" data-bg-color="#1a1360">
            <div class="container">
                <a class="navbar-brand" href="{{ path('yl_core_app_myhome') }}">
                    <img src="{{ asset('assets/img/logopetit.png') }}" alt="">
                </a>
                <!--end navbar-brand-->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!--end navbar-toggler-->
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav ml-auto">
                        <a class="nav-item nav-link ts-scroll btn btn-primary btn-sm text-white ml-3 px-3 ts-width__auto" href="{{ path('yl_core_app_myLogin') }}">Se connecter</a>
                        <a class="nav-item nav-link ts-scroll btn btn-primary btn-sm text-white ml-3 px-3 ts-width__auto" href="{{ path('yl_core_app_register_choice') }}">S'inscrire</a>
                    </div>
                    <!--end navbar-nav-->
                </div>
                <!--end collapse-->
            </div>
            <!--end container-->
        </nav>
        <!--end navbar-->
    <!--end #hero-->

    <!--*********************************************************************************************************-->
    <!--************ CONTENT ************************************************************************************-->
    <!--*********************************************************************************************************-->
    <main id="ts-content">

        <section id="our-team" class="ts-block">
            <div class="container">
                <div class="ts-title">
                    <h2>Nos chauffeurs</h2>
                </div>
                <!--end ts-title-->
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="card" data-animate="ts-fadeInUp">
                            <div class="ts-card__image ts-img-into-bg">
                                <img class="card-img-top" src="{{ asset('assets/img/brucewayne.jpg') }}" alt="Card image cap">
                            </div>
                            <!--end ts-card__image-->
                            <div class="card-body">
                                <h5 class="mb-1">Bruce Wayne</h5>
                                <h6 class="ts-opacity__50">Chauffeur depuis 6 mois</h6>
                            </div>
                            <!--end card-body-->
                            <div class="card-footer bg-white" style="text-align: center">
                                <a href="{{ path('yl_core_app_register') }}" class="btn btn-primary ts-scroll">Découvir Bruce</a>
                            </div>
                            <!--end card-footer-->
                        </div>
                        <!--end card-->
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="card" data-animate="ts-fadeInUp">
                            <div class="ts-card__image ts-img-into-bg">
                                <img class="card-img-top" src="{{ asset('assets/img/brucewayne.jpg') }}" alt="Card image cap">
                            </div>
                            <!--end ts-card__image-->
                            <div class="card-body">
                                <h5 class="mb-1">Bruce Wayne</h5>
                                <h6 class="ts-opacity__50">Chauffeur depuis 6 mois</h6>
                            </div>
                            <!--end card-body-->
                            <div class="card-footer bg-white" style="text-align: center">
                                <a href="{{ path('yl_core_app_register') }}" class="btn btn-primary ts-scroll">Découvir Bruce</a>
                            </div>
                            <!--end card-footer-->
                        </div>
                        <!--end card-->
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="card" data-animate="ts-fadeInUp">
                            <div class="ts-card__image ts-img-into-bg">
                                <img class="card-img-top" src="{{ asset('assets/img/brucewayne.jpg') }}" alt="Card image cap">
                            </div>
                            <!--end ts-card__image-->
                            <div class="card-body">
                                <h5 class="mb-1">Bruce Wayne</h5>
                                <h6 class="ts-opacity__50">Chauffeur depuis 6 mois</h6>
                            </div>
                            <!--end card-body-->
                            <div class="card-footer bg-white" style="text-align: center">
                                <a href="{{ path('yl_core_app_register') }}" class="btn btn-primary ts-scroll">Découvir Bruce</a>
                            </div>
                            <!--end card-footer-->
                        </div>
                        <!--end card-->
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="card" data-animate="ts-fadeInUp">
                            <div class="ts-card__image ts-img-into-bg">
                                <img class="card-img-top" src="{{ asset('assets/img/brucewayne.jpg') }}" alt="Card image cap">
                            </div>
                            <!--end ts-card__image-->
                            <div class="card-body">
                                <h5 class="mb-1">Bruce Wayne</h5>
                                <h6 class="ts-opacity__50">Chauffeur depuis 6 mois</h6>
                            </div>
                            <!--end card-body-->
                            <div class="card-footer bg-white" style="text-align: center">
                                <a href="{{ path('yl_core_app_register') }}" class="btn btn-primary ts-scroll">Découvir Bruce</a>
                            </div>
                            <!--end card-footer-->
                        </div>
                        <!--end card-->
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="card" data-animate="ts-fadeInUp">
                            <div class="ts-card__image ts-img-into-bg">
                                <img class="card-img-top" src="{{ asset('assets/img/brucewayne.jpg') }}" alt="Card image cap">
                            </div>
                            <!--end ts-card__image-->
                            <div class="card-body">
                                <h5 class="mb-1">Bruce Wayne</h5>
                                <h6 class="ts-opacity__50">Chauffeur depuis 6 mois</h6>
                            </div>
                            <!--end card-body-->
                            <div class="card-footer bg-white" style="text-align: center">
                                <a href="{{ path('yl_core_app_register') }}" class="btn btn-primary ts-scroll">Découvir Bruce</a>
                            </div>
                            <!--end card-footer-->
                        </div>
                        <!--end card-->
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="card" data-animate="ts-fadeInUp">
                            <div class="ts-card__image ts-img-into-bg">
                                <img class="card-img-top" src="{{ asset('assets/img/brucewayne.jpg') }}" alt="Card image cap">
                            </div>
                            <!--end ts-card__image-->
                            <div class="card-body">
                                <h5 class="mb-1">Bruce Wayne</h5>
                                <h6 class="ts-opacity__50">Chauffeur depuis 6 mois</h6>
                            </div>
                            <!--end card-body-->
                            <div class="card-footer bg-white" style="text-align: center">
                                <a href="{{ path('yl_core_app_register') }}" class="btn btn-primary ts-scroll">Découvir Bruce</a>
                            </div>
                            <!--end card-footer-->
                        </div>
                        <!--end card-->
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="card" data-animate="ts-fadeInUp">
                            <div class="ts-card__image ts-img-into-bg">
                                <img class="card-img-top" src="{{ asset('assets/img/brucewayne.jpg') }}" alt="Card image cap">
                            </div>
                            <!--end ts-card__image-->
                            <div class="card-body">
                                <h5 class="mb-1">Bruce Wayne</h5>
                                <h6 class="ts-opacity__50">Chauffeur depuis 6 mois</h6>
                            </div>
                            <!--end card-body-->
                            <div class="card-footer bg-white" style="text-align: center">
                                <a href="{{ path('yl_core_app_register') }}" class="btn btn-primary ts-scroll">Découvir Bruce</a>
                            </div>
                            <!--end card-footer-->
                        </div>
                        <!--end card-->
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="card" data-animate="ts-fadeInUp">
                            <div class="ts-card__image ts-img-into-bg">
                                <img class="card-img-top" src="{{ asset('assets/img/brucewayne.jpg') }}" alt="Card image cap">
                            </div>
                            <!--end ts-card__image-->
                            <div class="card-body">
                                <h5 class="mb-1">Bruce Wayne</h5>
                                <h6 class="ts-opacity__50">Chauffeur depuis 6 mois</h6>
                            </div>
                            <!--end card-body-->
                            <div class="card-footer bg-white" style="text-align: center">
                                <a href="{{ path('yl_core_app_register') }}" class="btn btn-primary ts-scroll">Découvir Bruce</a>
                            </div>
                            <!--end card-footer-->
                        </div>
                        <!--end card-->
                    </div>
                    <!--end col-md-3-->
                </div>
                <!--end row-->
            </div>
            <!--end container-->
        </section>


    </main>
    <!--end #content-->

    <!--*********************************************************************************************************-->
    <!--************ FOOTER *************************************************************************************-->
    <!--*********************************************************************************************************-->
    <footer id="ts-footer">

        {#<div class="map ts-height__600px" id="map"></div>#}

        <section id="contact" class="ts-separate-bg-element down-footer" data-bg-image="{{ asset('assets/img/bg-desk.jpg') }}" data-bg-image-opacity=".1" data-bg-color="#1b1464">
            <div class="container">
                <div class="ts-box mb-0 p-5 ts-mt__n-10">
                    <div class="row">
                        <div class="col-sm-4 col-md-4 col-lg-4" style="text-align: center;">
                            <a href="#">Questions récurrentes</a>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4" style="text-align: center;">
                            <a href="#">Mentions légales</a>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4" style="text-align: center;">
                            <a href="#">Condition générales d'utilisation</a>
                        </div>
                    </div>
                    <!--end row-->
                </div>
                <!--end ts-box-->
            </div>
            <!--end container-->
        </section>

    </footer>
    <!--end #footer-->
</div>
<!--end page-->

<script>
    if( document.getElementsByClassName("ts-full-screen").length ) {
        document.getElementsByClassName("ts-full-screen")[0].style.height = window.innerHeight + "px";
    }
</script>
<script src="{{ asset('assets/js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ asset('assets/js/popper.min.js') }}"></script>
<script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/js/imagesloaded.pkgd.min.js') }}"></script>
<script src="{{ asset('assets/js/isInViewport.jquery.js') }}"></script>
<script src="{{ asset('assets/js/jquery.particleground.min.js') }}"></script>
<script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>
<script src="{{ asset('assets/js/scrolla.jquery.min.js') }}"></script>
<script src="{{ asset('assets/js/jquery.validate.min.js') }}"></script>
<script src="{{ asset('assets/js/jquery-validate.bootstrap-tooltip.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/TweenMax.min.js"></script>
<script src="{{ asset('assets/js/jquery.wavify.js') }}"></script>

<script src="{{ asset('assets/js/custom.js') }}"></script>


</body>
</html>
