{# src/YL/CoreAppBundle/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
        {% stylesheets filter='cssrewrite'
        'css/layout.css'
        'css/bootstrap.css'
        'css/font-awesome.css' %}
        <link href="{{ asset_url }}" rel="stylesheet">
        {% endstylesheets %}
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>


    <nav class="navbar navbar-default navbar-fixed-top {#navbar-inverse#}">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">007Project</a>
            </div>

            {% if app.user %}

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
                <ul class="nav navbar-nav">
                    <li class=""><a href="#">Home</a></li>
                    <li><a href="{{path('yl_factory_homepage')}}">Factory</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
            </div>

            {% endif %}
        </div>
    </nav>

    <div class="container">
        <div id="content" class="col-md-12">
            <div class="row">
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </div>

{% block javascripts %}
    {% javascripts
    'js/jquery.min.js'
    'js/jquery-ui.min.js'
    'js/bootstrap.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

</body>
</html>
