<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="ThemeStarz">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,500,600">
    <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.min.css ') }} ">
    <link rel="stylesheet" href="{{ asset('assets/font-awesome/css/fontawesome-all.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/owl.carousel.min.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Open+Sans:300,400,600,700,800|PT+Sans:400,700|Kite+One|Raleway:300,400,500,600,700|Delius" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('assets/css/styleGme.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/menu.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/css/tablesaw.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/css/star-rating.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/css/cropsCSS.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('assets/css/responsive.css') }}" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/ResponsivePrivate.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/csb.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/css/slidebars.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/starability-all.min.css') }}">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    {#<script src="{{ asset('assets/js/star-rating.js') }}" type="text/javascript"></script>#}
    <script src="{{ asset('assets/js/jquery-3.3.1.min.js') }}"></script>

    <link href="{{ asset('assets/css/datepicker.css') }}" rel="stylesheet">
    <script src="{{ asset('assets/js/datepicker.js') }}"></script>
    <script src="{{ asset('assets/datepicker/js/datepicker.fr-FR.js') }}"></script>
    <script href="{{ asset('assets/datepicker/js/bootstrap-datepicker.js') }}"></script>


    <link href="{{ asset('assets/css/slim.css') }}" rel="stylesheet" type="text/css">
    <script src="{{ asset('assets/js/slim.jquery.js') }}"></script>
    <script src="{{ asset('assets/js/popper.min.js') }}"></script>
    <script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js/imagesloaded.pkgd.min.js') }}"></script>
    <script src="{{ asset('assets/js/isInViewport.jquery.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.particleground.min.js') }}"></script>
    <script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>
    {#<script src="{{ asset('assets/js/scrolla.jquery.min.js') }}"></script>#}
    <script src="{{ asset('assets/js/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery-validate.bootstrap-tooltip.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/TweenMax.min.js"></script>
    <script src="{{ asset('assets/js/jquery.wavify.js') }}"></script>


    <script src="{{ asset('assets/js/custom.js') }}"></script>
    <script src="https://use.fontawesome.com/395a9cea35.js"></script>

    <title>Lendy</title>

</head>

<body data-spy="scroll" data-target=".navbar" class="">
<!--NAVIGATION ******************************************************************************************-->
<nav class="navbarHome navbar navbar-expand-lg navbar-dark ts-separate-bg-element in" data-bg-color="#1a1360">
    <div class="container">
        <a class="navbar-brand" href="{{ path('yl_core_app_myhome') }}">
            <img src="{{ asset('assets/img/logopetit.png') }}" alt="">
        </a>
        <!--end navbar-brand-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--end navbar-toggler-->
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link ts-scroll btn btn-primary btn-sm text-white ml-3 px-3 ts-width__auto" href="{{ path('yl_core_app_myLogin') }}">Se connecter</a>
                <a class="nav-item nav-link ts-scroll btn btn-primary btn-sm text-white ml-3 px-3 ts-width__auto" href="{{ path('yl_core_app_register_choice') }}">S'inscrire</a>
            </div>
            <!--end navbar-nav-->
        </div>
        <!--end collapse-->
    </div>
    <!--end container-->
</nav>
<!--end navbar-->
<div id="sb-site">
<div class="wrapper" id="wrapper">
{% block body %}
{% endblock %}
</div>
</div>
