/* Crop CSS */
/* 🙌 🙌 High five for : https://codepen.io/teroauralinna/pen/goXJQL Thanks guy 🙌 🙌 !!! */
.last-adverts-ctn, .last-adverts-row, .square-img-ctn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.last-adverts-row {
  flex: 3 !important;
}

.buttons-col {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex:1;
}

.buttons-col a {
  width: 100%;
  display: block;
  height: 35px;
}

.image-bg {
  position: relative;
  background-position: center center;
  background-size: cover;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-left: 15px;
  border-radius: 50%;
}
.material-card .image-bg {
  margin-left: 0;
  border-radius: 0;
}
.messagerie-ctn .image-bg {
  margin-left: 0;
}
.image-bg-w50 {
  width: 50px;
  height: 50px;
}
.image-bg-w75 {
  width: 75px;
  height: 75px;
}
.image-bg-w80 {
  width: 80px;
  height: 80px;
}
.image-bg-w85 {
  width: 85px;
  height: 85px;
  object-fit: cover;
}
.image-bg-w90 {
  width: 90px;
  height: 90px;
}
.image-bg-w150 {
  width: 150px;
  height: 150px;
}
.image-bg-w260 {
  width: 260px;
  height: 260px;
}
.image-bg-w270 {
  width: 270px;
  height: 270px;
}
.image-bg-w285 {
  width: 285px;
  height: 285px;
}

.image-bg-car {
  width: 500px;
  height: 285px;
  position: relative;
  background-position: center center;
  background-size: cover;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin-left: 15px;
}



.image-bg-placeholder {
  height: 100%;
  visibility: hidden;
  width: 100%;

}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .image-bg-w85 {
    width: 45px !important;
    height: 45px !important;
  }
  .image-bg-w85.xs-ok {
    width: 85px !important;
    height: 85px !important;
  }
  .massege_details_sub_col01 .image-bg {
    width: 80px;
    height: 80px;
  }
}
