
.navbar-inner {
  border: none;
  border-radius: 0;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  filter: none;
  padding: 0;
  border-bottom: 1px solid #fff;
}
.navbar {
  margin: 0;
  padding: 0 0;
}
.navbar .nav {
 /* bottom: -7px;*/

}
.navbar .brand {
  text-shadow: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-left: 0;
  background: url(../img/logo.png) no-repeat;
  text-indent: -99999px;
  width: 61px;
}
.navbar li {
  overflow: hidden;
}
.navbar li > ul {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  position: absolute;
  list-style: none;
  margin: 0;
  width: 180px;
  visibility: hidden;
 /* background: #0988d5;*/
  display: block;
  z-index: 999;
  margin-top: 0px;
}
.navbar li > ul a {

  font-family: 'helvetica_ceregular';
  display: block;
  color: #808184 !important;
  text-decoration: none;
  border-top: 1px solid #1796db;
  font-size: 13px !important;
  margin-bottom: 10px;

}
.navbar li > ul a:hover {
  /*background: inherit;*/
  color: #fff !important;
}
.navbar li:hover > ul {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #e36a02 !important;
  background-color: inherit !important;
  box-shadow: none;
}
.navbar .nav > li{
	/*padding: 0 12px;*/
}
.navbar .nav > li > a {
	text-shadow: none;
	/* color: #333; */
}
.navbar .nav > li > a  span{
	display: block;
	line-height: 17px;
	text-align: center;
}
.navbar .nav > li.menubr{
	margin-top:-6px;
}


.navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
  color: #e36a02;
}
.nav-tabs.nav-stacked > li > a {
  border: none !important;
  border-radius: 0 !important;
  color: white;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.nav-tabs.nav-stacked > li > a:hover {
  color: #0378a9;
}
.nav-tabs.nav-stacked > li.active > a {
  color: #fff;
}
.nav-tabs.nav-stacked > li.active > a:before {
  color: #fff;
}






/************************************************
Responsive styles
************************************************/
@media (max-width: 640px) {
  .nav-collapse .nav > li > a,
  .nav-collapse .dropdown-menu a {
    border-radius: 0;
  }
  .navbar li > ul {
    opacity: 1;
    visibility: visible;
    position: relative;
    margin-left: 9px;
    box-shadow: none;
    width: 100%;
  }
  .nav-collapse .nav > li {
    margin-bottom: 0px;
  }
  .navbar li > ul a {
    border-top: none;
   /* color: white !important;*/
    font-size: 10px;
	background-image: none;
  }
  .nav-collapse .nav {
    padding-top: 20px;
	width: 100%;
  }
  .pull-right li {
    display: inline-block;
  }
  .navbar .btn-navbar {
/*    background: #fff;*/
	position: relative;
/*	margin-top: 8px;*/
	cursor: pointer;
	margin-bottom: 0px;
/*	margin-top: -95px;*/
    background: url("../images/menu.gif") repeat-x scroll 0 0 #a22d87;
	width: 20px;
	height: 10px;
	padding: 8px 10px 14px 10px;
	float: right;
	margin-top: -13%;
	cursor: pointer;


  }

  .navbar .brand {
    margin-bottom: 10px;
  }


}
