@media (max-width: 1219px) {}

@media (max-width: 1200px) {}

/* RESPONSIVE NOUVELLE VUE PROFIL REDUCTION FENÊTRE */

@media (max-width: 992px) {
  .profile-section.title-section .profile-pic .image-bg, .profile-section.title-section .profile-pic figure {
    width: 220px;
    height: 220px;
  }
  .profile-section.title-section a.plain-btn:first-of-type {
    margin-top: 35px;
  }
  .profile-section.title-section .avail-status {
    margin-top: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .profile-section.title-section .col-sm-9 {
    padding-left: 30px;
    padding-right: 30px;
  }
  .profile-section.title-section .profile-pic .image-bg {
    border-radius: 50%;
  }
  .profile-section.title-section .profile-pic figure {
    margin: 0 auto;
  }
  .profile-section.title-section .profile-pic {
    padding-bottom: 55px;
    padding-top: 20px;
    background: url('../img/pattern-1.png')
  }
  .profile-section.title-section .profile-pic .image-bg, .profile-section.title-section .profile-pic figure {
    width: 200px;
    height: 200px;
  }
  .profile-section.title-section h2.hidden-md {
    display: block !important;
    text-align: center;
  }
  .favorites-btn {
    top: -555px;
    right: 20px;
  }
}

/**********Tablet view start**********/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  a.bordered-btn, .bordered-btn {
    font-size: 12px;
  }
  .icon-home-row h2 {
    line-height: 25px;
  }
  .topheader_sec_right01 {
    display: none;
  }
  .topheader_sec_right01 {
    width: 96%;
  }
  .content-page .bruce-toussaint-feat-thibault-ctn {
    padding-top: 0px;
    padding-bottom: 20px;
  }
  .content-page iframe {
    margin: 0 auto;
    display: block;
  }
  .timetable-row div p.duree {
    margin-top: 5px;
  }
  .mes-horaires-ctn .panel-group .panel-body .btn-primary {
    width: 50%;
  }
  .shift-confirmation {
    text-align: center;
  }
  .timetable-row div .bordered-btn {
    margin-top: 15px;
    font-size: 13px;
  }
  .timetable-row div .form-group .bordered-btn {
    padding: 3px 10px;
  }
  .timetable-row div .form-group input[type=number] {
    width: auto;
    padding: 5px 10px;
  }
  .timetable-row .adjust-shift-form .form-group input[type=number] {
    width: 60px;
  }
  /*Dashboard*/
  .latest_message_sec h3 span {
    float: none;
    display: block;
    margin-top: 5px;
  }
  .latest_message_sec p, .latest_message_sec p a {
    margin-bottom: 5px;
  }
  .latest_message_sec {
    border-bottom: 1px solid #e7e7e7;
  }
  .latest_message_sec.row {
    padding-bottom: 5px;
    padding-top: 10px;
  }
  .latest_message_sec:last-of-type {
    border-bottom: none;
  }
  /*MON COMPTE*/
  .account-ctn h2.main-title, .account-ctn h2.account-subtitle {
    line-height: normal;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .personnal-data {
    display: block;
  }
  /* Recherche */
  #search_advert_form_fraicheur label, #search_advert_parent_form_fraicheur label {
    width: 97%;
  }
  /* Annonce / Profil */
  .contact-profile {
    clear: both;
  }
  /* Nouvelle vue d'inscription */
  .auto-process-ctn {
    display: block;
  }
  .register-ctn-fluid .questions, .register-ctn-fluid .help {
    padding-bottom: 0;
  }
  .register-ctn-fluid .main-login {
    margin-bottom: 10px;
  }
  .register-ctn-fluid, .register-ctn-fluid .mid_post_section {
    padding: 0;
  }
  .auto-process-ctn .help {
    padding: 35px 60px;
  }
  /* Recommandations */
  .gradient-header-content h2 {
    line-height: normal;
    margin-bottom: 25px;
  }
  .titles-row {
    margin-bottom: 25px;
    margin-top: 5px;
  }
  .advices {
    margin-top: 65px;
  }
  /* Progress bar */
  .progress-bar-ctn {
    width: 100%;
    margin-bottom: 15px;
  }
  .favorites-row .plain-btn {
    margin-top: 10px;
  }
  .favorites-row .plain-btn>i, .favorites-row .plain-btn br {
    display: none;
  }
  /* Small menu rikiki */
  .header_sec_left_sub .container {
    width: 100%;
  }
  /* Page d'envoi des leads parent */
  #lead-ctn .auto-process-ctn>div {
    padding-top: 140px;
  }
  #lead-ctn .auto-process-ctn .main-login {
    margin-bottom: 0;
  }
  #lead-ctn .auto-process-ctn .help {
    padding-top: 0;
    margin-bottom: 50px;
    padding: 0 15px;
  }
  .advantage-side {
    margin-top: 0;
  }
  .advantage-side p {
    padding-left: 0;
  }
  #lead-ctn .auto-process-ctn h4 {
    font-weight: 800;
  }
  #lead-ctn .pro_recommandationsform {
    padding-bottom: 0;
  }
  .hidden-md {
    display: block !important;
  }
  .hidden-sm {
    display: none !important;
  }
  /* --- NOUVEAU PROFIL MAI 2018 --- */
  .profile_user_r .distance-data.nounou-dist {
    text-align: left;
    font-family: 'Lato', sans-serif;
    margin-top: 5px;
    font-size: 15px;
  }
  .profile_box .avail-status {
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .profile-section.title-section .col-sm-9 {
    padding-left: 30px;
    padding-right: 30px;
  }
  .profile-section.title-section .profile-pic .image-bg {
    border-radius: 50%;
  }
  .profile-section.title-section .profile-pic figure {
    margin: 0 auto;
  }
  .profile-section.title-section .profile-pic {
    padding-bottom: 55px;
    padding-top: 20px;
    background: url('../img/pattern-1.png')
  }
  .profile-section.title-section .profile-pic .image-bg, .profile-section.title-section .profile-pic figure {
    width: 200px;
    height: 200px;
  }
  .profile-section.title-section .profile-pic .rating-container {
    bottom: 13px;
    padding-bottom: 0;
    background: none;
    width: 100%;
  }
  .favorites-btn {
    top: 0px;
    right: 35px;
  }
  .advert-keys ul li {
    padding: 5px;
    padding-bottom: 10px;
  }
  .profile-section.title-section h2 {
    text-align: center;
  }
  .profile-section.title-section h2, .profile-section.title-section p {
    background: transparent;
  }
  .advert-keys {
    margin-bottom: 10px;
    margin-top: 30px;
  }
  .profile-section.title-section .advert-keys ul p {
    font-size: 16px;
    margin-top: 0px;
  }
  .profile-content h2.probabytext01 {
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .profile-section.title-section .avail-status {
    font-size: 13px;
    padding: 5px 3px;
  }
  .profile-section.title-section a.plain-btn:first-of-type {
    margin-top: 10px;
  }
  .trust-col-view {
    margin-right: 0;
  }
  .profile-section.title-section .col-md-9 {
    padding: 20px 30px;
  }
  .profile-content .trust-profile {
    display: flex;
    justify-content: space-between;
  }
  .profile-content .trust-profile li {
    flex:1;
    padding: 5px 15px;
  }
  .profile-content article {
    padding-bottom: 5px;
    padding-left: 30px;
  }
  .profile-content .trust-col-view p {
    margin-top: 0;
  }
  .profile-content .trust-col-view p a.see-more {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .profile-content .trust-col-view h2.probabytext01 {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .advert-details p.pro_recommandationsext {
    padding-bottom: 15px;
  }
  .avatar-col {
    padding-right: 15px;
  }
  #thanks-ctn.container.gradient-header-content {
    margin-top: -60px;
  }
  .reco-loop-row h2 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  /* Page pricing plan */
  .gradient-header .icon-col {
    padding: 0;
  }
  .pricing-ctn, .payment-wrapper {
    width: 100%;
  }
  .pricing-ctn {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .payment-wrapper {
    margin-top: 10px;
  }
  .pricing-ctn article.high-offer {
    flex: 1.1;
  }
  .d_profilein .d_profile_mid a {
    margin-top: 20px;
  }
  /* Remerciements et variantes */
  /* Suggestion nounous après inscription */
  .material-card {
    width: 80%;
    margin: 0 auto 35px;
  }
  .gradient-header-content {
    margin-top: 180px;
  }
  .gradient-header-content .pricing-premium-content {
    margin-top: 65px;
  }
  /* Nouveau moteur de recherche */
  .m_menu_loupe {
    position: absolute;
    right: 20px;
    top: 25px;
    display: block;
    font-size: 25px;
  }
  .full-size-search-mob {
    padding-top: 102px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .progress-bar-ctn {
    margin-bottom: 15px;
  }
}

/* iPads (landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .content-page iframe {
    width: 100%;
  }
}

/**********Tablet view end**********/

/**********Mobile view start**********/
/* iPhone 5 & SE */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
  .full-size-search-mob {
    overflow-y: auto;
    padding-bottom: 10px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .hidden-md {
    display: block !important;
  }
  span.hidden-md {
    display: inline-block !important;
  }
  .row-eq-height {
    display: block;
  }
  body {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch
  }
  p {
    font-size: 16px;
    line-height: normal;
  }
  /*HOMEPAGE*/
  .header_box {
    width: 100%;
  }
  h1.header_text {
    font-size: 25px;
    line-height: 30px;
  }
  .icon-home-row figure {
    margin-top: 35px;
  }
  .home-row .counter-ctn h3 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .press-logos {
    display: block;
  }
  .press-logos li {
    margin-bottom: 10px;
  }
  .top_right01 {
    display: none;
  }
  /*Landing page*/
  .profile_content_sec.landing {
    /*margin-top: 150px;*/
    margin-top: 0px;
  }
  .parent-email-registration .form-group {
    width: 100%;
  }
  /*Pages internes publiques*/
  .content-page {
    padding-bottom: 30px;
  }
  .content-page .bruce-toussaint-feat-thibault-ctn {
    padding-top: 20px;
  }
  .content-page iframe {
    width: 100%;
  }
  /*Annonce / Profil*/
  .profile_content_sec {
    margin-top: 0px;
  }
  /* Commenté pendant hierarchisation des titres */
  /* .nounou-details-ctn h1, .parent-details-ctn h1, */
  .nounou-details-ctn h2, .parent-details-ctn h2 {
    text-align: center;
    margin-top: 20px;
  }
  .nounou-details-ctn h1, .parent-details-ctn h1 {
    text-align: center;
  }
  .nounou-details>div {
    padding-left: 5px;
    padding-right: 5px;
  }
  .nounou-details p, .nounou-details h3.last-update {
    font-size: 15px;
    text-align: center;
  }
  /* .flag-user {
    margin-top: 10px;
  } */
  /* #flagUserForm {
    top: 470px !important;
  } */
  .tablesaw tbody tr td.title {
    padding: 10px 2px;
    font-size: 13px;
    text-align: center;
  }
  .tablesaw th, .tablesaw td {
    padding: 10px 5px;
  }
  .name-rating-ctn {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  .name-rating-ctn .square-img-ctn {
    flex: 1;
  }
  .name-rating-ctn .name-rating {
    margin-left: 20px;
    flex: 3;
  }
  .view-profile .recommendations-row .plain-btn, .view-profile .recommendations-row .bordered-btn {
    width: 100%;
  }
  /*Dashboard*/
  .latest_message_sec h3 span {
    float: none;
    display: block;
    margin-top: 10px;
  }
  p.date-reco {
    margin-top: 10px;
  }
  /* .latest_message_messcoll_02_5 .facebook-btn, .latest_message_messcoll_02_5 .gold-btn, .latest_message_messcoll_02_5 .love-btn,  */
  .latest_message_messcoll_02_5 .plain-btn {
    margin-bottom: 10px;
    width: 100%;
  }
  /* Ajout recommandation (modale) */
  .references-sec .modal-dialog {
    position: absolute;
    top: 1560px;
  }
  /*Messagerie*/
  /*Messagerie*/
  .latest_message_sec figure {
    /* width: 100%; */
  }
  .latest_message_sec .col-xs-2, .latest_message_sec .col-xs-3, .latest_message_sec .col-xs-4, .latest_message_sec .col-xs-6, .latest_message_sec .col-xs-7, .latest_message_sec .col-xs-8 {
    padding-left: 5px;
    padding-right: 5px;
  }
  p.date-msg {
    font-size: 12px !important;
  }
  .massege_details_col01_img {
    /* width: 80px;
    height: 80px; */
    width: 25%;
    height: auto;
    float: left;
    margin-top: 8px;
  }
  .massege_details_col01_text, .massege_details_sub_col01 .view-more-btn, .interloc-details.nounou-details {
    padding-top: 10px;
    float: right;
    width: 74%;
    margin-left: 1%;
  }
  /* .massege_details_col01_text {
    width: 100%;
  } */
  .massege_details_sub_col01 .view-more-btn {
    padding-top: 7px;
  }
  .massege_details_sub_col01 a.view-more-btn {
    width: 100%;
  }
  .massege_details_sub_col01 .view-more-btn .phone-convers {
    margin-bottom: 10px;
  }
  .massege_details_col01_text h2 {
    padding-bottom: 0;
    margin-bottom: 5px;
  }
  .massege_details_col01_text .rating-container {
    margin-top: 10px;
  }
  .interloc-details {
    margin-top: 0px;
    margin-bottom: 0;
  }
  .interloc-details p {
    font-size: 15px;
    margin-bottom: 4px;
  }
  .interloc-details p.phone-convers, .interloc-details p.phone-convers a {
    color: #E36A02;
  }
  .interloc-details a {
    text-decoration: underline !important;
  }
  .labels-convers-ctn {
    /* margin-top: 20px; */
    margin-top: 21px;
  }
  .labels-convers-ctn span.label {
    margin-top: 5px;
  }
  .show-ad-ctn {
    padding-top: 15px;
    padding-bottom: 20px;
  }
  a.show-ad-convers, a.show-ad-convers:active, a.show-ad-convers:focus {
    padding: 0;
    border: none;
    background: none !important;
    text-transform: initial;
    letter-spacing: 0;
    text-decoration: underline !important;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 0;
    color: #333 !important;
    display: inline;
  }
  a.show-ad-convers:first-of-type {
    margin-right: 10px;
  }
  .flag-user.flag-mobile {
    display: block;
    position: absolute;
    right: 10px;
    top: 5px;
    margin: 0;
  }
  /* .interloc-details p i {
    display: none;
  } */
  .massege_details_sub01 {
    /* padding: 10px; */
    padding: 0px;
    /* height: 135px; */
  }
  .massege_details_sub01.premium-interloc {
    padding-top: 28px;
  }
  .massege_details_sub01 .plain-btn.blue-btn.fullw-btn, .massege_details_sub01 .bordered-btn.orange-btn:not(.show-ad-convers) {
    margin-top: 30px;
  }
  .massege_details_sub01 .bordered-btn.orange-btn:not(.show-ad-convers) {
    padding: 10px;
  }

  .response-rate-msg-ctn {
    clear: both;
  }
  .massege_details_col01_img .pricerate-msg {
    width: 100%;
    padding: 1px;
    /* box-shadow: 0px -5px 12px 0px rgba(0,0,0,0.3); */
  }
  .massege_details_col01_img .pricerate-msg p {
    font-size: 16px;
  }
  .response-rate-msg>div:first-of-type h3, .response-rate-msg>div:first-of-type p {
    display: inline;
  }
  .mobile-details {
    padding-top: 0px;
  }
  .mobile-details.collapsed {
    padding-top: 15px;
  }
  .massege_details_sub_col01 a.view-more-btn {
    color: #e36a02;
    font-size: 16px;
    margin-top: 0px;
    padding-top: 0px;
  }
  /*Barre "Mon profil" dans le dashboard*/
  .my-advert-ctn .latest_message_messcoll_sub {
    padding-left: 0;
    padding-right: 0;
  }
  .latest_message_sec h3, .latest_message_sec h3 a {
    margin-top: 0;
    font-size: 15px;
  }
  .latest_message_messcoll_02_5 h3 {
    text-align: center;
  }
  /*Barre d'icônes dashboard*/
  .latest_message_messcoll_02_5 .facebook-btn {
    margin-bottom: 15px;
  }
  .dashboard-icons-row ul li {
    width: calc(90%/3);
  }
  .dashboard-icons-row ul li a {
    font-size: 14px;
  }
  .personnal-data h3 a.plain-btn {
    display: block;
    width: 100%;
    padding: 5px 20px;
    margin-top: 5px;
  }
  /*MON COMPTE*/
  .account-ctn h2.main-title, .account-ctn h2.account-subtitle {
    line-height: normal;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  .my-account-content {
    padding-left: 15px;
  }
  .personnal-data {
    display: block;
  }
  .personnal-data .bordered-btn.blue-btn {
    width: 100%;
  }
  .personnal-data h3 {
    color: #E36A02;
text-align: center;
  }
  /* Formulaire dépot annonce parent */
  /* C'est crade, mais c'est le seul moyen d'avoir un formulaire d'inscription à peu près droit en mobile */
  #advert_parent_dateDebut, #advert_parent_dateNaissance, #advert_parent_user_telephone, #advert_parent_user_adresse, .d_profile_electdrop_sec .d_select-style .select2.select2-container, input#advert_partage_dateDebut {
    width: 100% !important;
  }
  #a_propos_de_vous_form_user_telephone #a_propos_de_vous_form_dateAge {
    width: 251px !important;
  }
  .d_profilein {
    padding: 35px 8px;
  }
  .d_profile_mid_form label {
    display: inline;
  }
  .d_profile_btn_sec {
    padding-top: 0;
  }
  /* .d_profile_mid_form_sub  */
  .d_profile_mid_form {
    margin-top: 40px;
  }
  /*.d_avail_sec table td:nth-child(2),.d_avail_sec table thead tr th:nth-child(2)*/
  .d_avail_sec table td:nth-child(2) .fake-check {
    display: none;
  }
  .d_avail_sec table th:first-child {
    width: 25%;
    color: white;
  }
  .submits-row {
    flex-direction: column-reverse;
  }
  /* Modale postit */
  .my-advert-ctn h2.pull-left, .email-dashb-ctn {
    float: none !important;
  }
  .email-dashb-ctn {
    margin-bottom: 0px;
    text-align: center;
  }
  .post-it-col {
    margin-top: 20px;
  }
  /* Affichage des références */
  .view-ref .table>tbody>tr>td, .view-ref .table>tbody>tr>th, .view-ref .table>tfoot>tr>td, .view-ref .table>tfoot>tr>th, .view-ref .table>thead>tr>td, .view-ref .table>thead>tr>th {
    padding: 15px 5px;
  }
  /* Correction Flex double écran Attention doublon possible */
  .auto-process-ctn {
    display: block;
  }
  #lead-ctn .auto-process-ctn {
    margin-top: 110px;
  }
  .reco-ctn-fluid .mid_post_section {}
  .auto-process-ctn>div {
    padding: 15px 10px;
  }
  .auto-process-ctn .new-reco-form {
    float: none;
    margin: 0;
    width: auto;
  }
  .auto-process-ctn .pro_recommandform {
    margin: 0 0 15px 0;
  }
  .reco-ctn-fluid .auto-process-ctn .questions>p {
    margin-bottom: 25px;
  }
  .reco-ctn-fluid .auto-process-ctn .questions h1, .reco-ctn-fluid .auto-process-ctn .questions>p {
    text-align: center;
  }
  .reco-ctn-fluid, .auto-process-ctn .pro_recommandform>div, .reco-ctn-fluid .mid_post_section {
    padding: 0;
  }
  .reco-ctn-fluid .auto-process-ctn h1, .register-ctn-fluid .auto-process-ctn h1, .auto-process-ctn h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  #lead-ctn .auto-process-ctn button.plain-btn {
    width: 100%;
    padding: 10px;
  }
  /* Nouvelle vue d'inscription */
  .register-ctn-fluid {
    padding-left: 5px;
    padding-right: 5px;
  }
  .register-ctn-fluid .questions, .register-ctn-fluid .help {
    padding-top: 5px;
    padding-bottom: 10px;
  }
  .register-ctn-fluid .auto-process-ctn h1 small {
    font-size: 80%;
  }
  .contact-profile {
    padding-top: 0;
  }
  .name-rating .rating-container .rating {
    margin: 0px !important;
  }
  .recommendations-row h3 {
    text-align: left;
    margin-left: 5px;
    margin-top: 0;
  }
  /* Ajustement page choix compte */
  .small-wrapper .baseline {
    margin-left: 5px;
    margin-right: 5px;
  }
  /* Refonte typos Avril 2018 */
  .latest_message_sec .read-msg {
    display: block;
    margin-bottom: 13px;
  }
  /* Nouvelle vue recommandations */
  .gradient-header.h150 {
    /* margin-bottom: 285px; */
    margin-bottom: 80px;
  }
  #thanks-title.gradient-header.long-txt {
    /* margin-bottom: 285px; */
    margin-bottom: 210px;
  }
  .gradient-header .title-block .inside {
    display: block;
  }
  #suggestions-title.gradient-header .title-block .inside {
    margin-top: 30px;
  }
  .gradient-header .title-block .subtitle {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .gradient-header .title-block p.intro {
    display: none;
  }
  .container.gradient-header-content {
    margin-top: 200px;
  }
  #suggestions-ctn.gradient-header-content {
    margin-top: -50px;
  }
  .container.gradient-header-content.conf-dispo-ctn {
    margin-top: 10px;
  }
  .gradient-header .title-block h1 {
    font-size: 25px;
  }
  #suggestions-title.gradient-header .title-block h1 {
    font-size: 25px;
    margin-bottom: 0;
  }
  .gradient-header-content h2:not(.xs-shown) {
    line-height: normal;
    margin-bottom: 20px;
  }
  .gradient-header-content h2:not(.show-xs) {
    display: none;
  }
  #payment-fail-btns-ctn .titles-row {
    margin-bottom: 0;
  }
  #payment-btns-ctn .titles-row h2, #payment-fail-btns-ctn h2 {
    font-size: 20px;
    margin-bottom: 0;
  }
  #payment-fail-btns-ctn h2 {
    margin-top: 30px;
  }
  #payment-fail-btns-ctn h2 ul li {
    margin-bottom: 10px;
  }
  #payment-fail-btns-ctn h2 ul li:last-of-type {
    margin-bottom: 0;
  }
  .gradient-header-content h3 {
    font-size: 19px;
  }
  .gradient-header-content h3 {
    text-align: center;
  }
  .gradient-header-content .col-md-pull-6 {
    clear: both;
  }
  .gradient-header-content .addReco {
    float: none;
    width: auto;
  }
  #thanks-ctn .buttons-row {
    margin-top: 0;
  }
  .addReco .pro_recommandform04 button {
    margin-bottom: 25px;
    margin-top: 10px;
    width: 100%;
  }
  .titles-row {
    margin-bottom: 25px;
  }
  .advices {
    padding: 30px 15px;
  }
  .submit-row a, .submit-row button {
    float: none !important;
    width: 100%;
  }
  .reco-loop-row h2 {
    font-size: 18px;
    line-height: normal;
  }
  #progress-bar h4 {
    font-size: 20px;
  }
  /* Messagerie : ajustement container liste message */
  .messagerie-ctn {
    margin-left: 10px;
    margin-right: 10px;
  }
  .mobileindex .mid_post_sec .messagerie-ctn {
    margin-left: 0px;
    margin-right: 0px;
  }
  .topheader {
    /* height: 155px; */
  }
  .topheader .topheader_sec_right02 {
    margin-top: -5px;
  }
  .latest_message_sec p, .latest_message_sec p a:not(.plain-btn) {
    margin-bottom: 0;
  }
  /* FB login */
  .auto-process-ctn a.plain-btn, .auto-process-ctn button.plain-btn {
    padding: 10px 15px;
  }
  /* Page merci / reco */
  .gradient-header .title-block {
    top: 25px;
  }
  /* #thanks-ctn.container.gradient-header-content {
    margin-top: 230px;
  } */
  #thanks-ctn.container.gradient-header-content {
    margin-top: 0px;
  }
  #payment-btns-ctn.container.gradient-header-content {
    margin-top: 60px;
    padding-bottom: 100px;
  }
  .material-card {
    width: 75%;
    margin: 0 auto 40px;
  }
  #suggestions-ctn.gradient-header-content h2 {
    font-size: 20px;
  }
  /* Progress bar */
  .progress-bar-ctn {
    margin-bottom: 5px;
  }
  .parent-progb-ctn {
    width: 100%;
  }
  .progress-bar-ctn>div {
    padding: 0;
  }
  .progressbar li:after {
    left: -33%;
  }
  /* .nounou-progb-ctn .progressbar {
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
  } */
  .progressbar {
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
  }
  /* .nounou-progb-ctn .progressbar li {
    width: 100%;
    line-height: 40px;
  } */
  .progressbar li {
    width: 100% !important;
    line-height: 40px;
    font-size: 13px;
  }
  /* .nounou-progb-ctn .progressbar li:before {
    float: left;
  } */
  .progressbar li:before {
    float: left;
  }
  .material-modal .modal-header .close {
    /* margin-top: -105px; */
  }
  .material-modal textarea {
    height: 200px;
  }
  /* Page d'envoi des leads parents */
  #leads-logo.logo-login-ctn img {
    height: 65px;
    left: 8px;
  }
  #lead-ctn .auto-process-ctn>div {
    padding-top: 215px;
  }
  #lead-ctn .auto-process-ctn .help {
    padding-top: 0;
    margin-bottom: 50px;
  }
  #lead-ctn .auto-process-ctn .questions {
    padding-top: 0;
  }
  #lead-ctn .auto-process-ctn .main-login {
    margin-bottom: 0;
    padding-top: 5px;
  }
  #lead-ctn .new-reco-form {
    padding-bottom: 0;
  }
  .last-adverts-ctn, .buttons-col {
    display: block;
  }
  .page-title {
    padding-top: 10px;
  }
  /* --- NOUVEAU PROFIL MAI 2018 --- */
  .profile-section.title-section .col-sm-9 {
    padding-left: 30px;
    padding-right: 30px;
  }
  .profile-section.title-section .profile-pic .image-bg {
    border-radius: 50%;
  }
  .profile-section.title-section .profile-pic figure {
    margin: 0 auto;
  }
  .profile-section.title-section .profile-pic {
    padding-bottom: 55px;
    padding-top: 20px;
    background: url('../img/pattern-1.png')
  }
  .profile-section.title-section .profile-pic .image-bg, .profile-section.title-section .profile-pic figure {
    width: 200px;
    height: 200px;
  }
  .profile-section.title-section .profile-pic figure {
    margin-bottom: 15px;
  }
  .profile-section.title-section .profile-pic .rating-container {
    bottom: 13px;
    padding-bottom: 0;
    width: 100%;
    background: none;
  }
  .favorites-btn {
    top: 0px;
    right: 10px;
  }
  .advert-keys ul li {
    padding: 5px 2px;
    padding-bottom: 10px;
  }
  .profile-section.title-section h2 {
    text-align: center;
  }
  .profile-section.title-section h2, .profile-section.title-section p {
    background: transparent;
  }
  .advert-keys {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .profile-section.title-section .advert-keys ul p {
    font-size: 16px;
    margin-top: 5px;
  }
  .profile-content h2.probabytext01 {
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .profile-section:not(.title-section), .profile-section.title-section .col-md-9 {
    padding: 15px 15px 30px 30px;
  }
  /* .profile-content article {
    padding-left: 30px;
  } */
  .advert-details .probabytext02 {
    padding: 0;
  }
  .profile-section.title-section .profile-pic img {
    width: auto;
  }
  .profile-content>.row {
    margin: 0;
  }
  /* Page pricing plan */
  .gradient-header .title-block .inside .title-content {
    padding: 0;
  }
  .pricing-ctn, .payment-wrapper {
    display: block;
    width: 100%;
    padding: 15px 5px;
  }
  .trust-col-view {
    margin-right: 0;
  }
  .landing-start .see-other-ad {
    margin-top: 10px;
    text-align: center;
  }
  .profile_box {
    padding: 15px;
  }
  .advert-buttons-col {
    padding-top: 0;
  }
  .profile-section.title-section a.plain-btn:first-of-type {
    margin-top: 10px;
  }
  .massege_details_col01_text p.phone-convers {
    margin-bottom: 0;
    margin-top: 15px;
  }
  #recup-title .title-block img {
    width: 100px;
  }
  #recup-title .title-block, #recup-title .title-block h1 {
    text-align: center;
    font-size: 22px;
  }
  #recup-title .title-block h2.subtitle {
    font-size: 18px;
  }
  #recup-body.container.gradient-header-content {
    margin-top: 170px;
  }
  #recup-body.container.gradient-header-content {
      margin-top: 135px;
  }
  .gradient-header .icon-col {
    min-height: 100px;
    margin-bottom: 0;
  }
  .elsa-ctn {
    margin-top: 70px;
  }
  .elsa-ctn img {
    margin-bottom: 15px;
  }
  .pricing-ctn article.high-offer {
    margin: 0 0 15px 0;
  }
  .pricing-ctn article:first-of-type {
    margin-top: 35px;
  }
  .pricing-ctn article {
    margin-bottom: 15px;
  }
  .pricing-ctn article.high-offer .fake-btn {
    margin-top: 30px;
  }
  .payment-form, .payment-safe {
    float: none;
    width: 100%;
  }
  .payment-safe {
    margin-top: 20px;
  }
  .payment-wrapper {
    margin-top: 15px;
  }
  .payment-form h3 {
    text-align: left;
  }
  .d_profilein .d_profile_mid a, #experience_form_Suivant {
    width: 100%;
    margin-top: 20px;
  }
  #experience_form_Suivant {
    min-height: 53px;
  }
  .latest_message_sec .premium-btns, .latest_message_sec .premium-btns a {
    width: 100%;
  }
  .latest_message_sec .premium-btns a {
    float: none !important;
  }
  .latest_message_sec .premium-btns #collapseBtns a {
    width: 100%;
    margin-bottom: 0;
  }
  .disabled-advert .label {
    padding-left: 3px;
    padding-right: 3px;
    left: 200px;
    top: 10px;
  }
  .inscription {
  margin-top: 0;
  padding-top: 10px;
  }
  /* Page de contenu */
  .main-content-section .article-img.left-img, .main-content-section .article-img.right-img {
    float: none;
    width: 100%;
    margin: 0 auto 35px;
  }
  /* Récap demande de garde messagerie */
  .massege_details_sub_col01, .short-prop {
    margin-bottom: 0;
  }
  .massege_details_sub_col01 {
    padding: 5px 15px;
  }
  .short-prop {
    border-color: #E36A02;
    border-top: none;
  }
  .convers-flashbag h3 {
    line-height: normal;
    padding: 5px;
    font-size: 18px;
  }
  .message_rightside_in {
    margin-top: 25px;
  }
  .chatbot-ctn, .chatbot-button-row.boolean-choice.large-choices .plain-btn {
    width: 100%;
  }
  .chatbot-ctn {
    margin-top: 0px;
  }
  .message_rightside_box01_left.fake-reply {
    width: 100%;
    margin-right: 0;
  }
  .message_rightside_box01_left.fake-reply .arrow-down_right {
    display: none;
  }
  .message_rightside_box01_left.fake-reply .latest_message_sec h3, .message_rightside_box01_left.fake-reply .latest_message_sec h3 a {
    font-size: 17px;
  }
  /* Page demande de réactivation compte */
  #blocked-form-ctn .confirm-msg {
    margin-top: 60px;
    margin-bottom: 20px;
  }
  /* Refonte pages informations (en commençant par "A propos")*/
  .offset-contents {
    background-size: 100%;
  }
  .offset-contents article {
    margin-top: 30%;
    padding: 0 5px;
  }
  .offset-contents article h2 {
    padding: 20px 0;
    background: rgba(255, 255, 255, 0.85);
  }
  .offset-contents.bg-left .text-content, .offset-contents.bg-right .text-content {
    padding: 15px;
  }
  #formButton {
    padding: 15px 0;
    width: 90%;
    white-space: normal;
    margin-top: -10px;
  }
  #suggestions-title.h150 {
    margin-bottom: 60px;
  }
  /* Résultats de recherche */
  .profile_box .avail-status {
    margin-top: 15px;
    margin-bottom: 0px;
  }
  .profile_user_r .distance-data.nounou-dist {
    text-align: left;
    font-family: 'Lato', sans-serif;
    margin-top: 5px;
    font-size: 15px;
  }
  .full-size-search-mob {
    overflow-y: none;
  }
  .filterMobile .select2-container--bootstrap .select2-selection, .rechercheMobile .select2-container--bootstrap .select2-selection {
    font-size: 16px;
  }
  .filterMobile .select2-container .select2-selection--single, .rechercheMobile .select2-container .select2-selection--single {
    height: 35px;
    padding-top: 8px;
  }
  /* Bouton Premium Dashboard */
  .mid_my_job_sub_right a.premium-dashboard {
    padding: 10px 40px;
    width: 100%;
  }
  /* Abonnements annonce */
  .d_profile_mid_form .notif-email {
    padding-top: 0;
  }
  .d_profile_mid_form_sub p {
    margin-bottom: 10px;
  }
  .notif-email h2 {
    padding-bottom: 10px !important;
    text-transform: capitalize;
  }
  /* Menu pages "Mon compte" */
  .account-tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .account-tabs li {
    display: inline;
    padding-top: 0.9em;
  }
  /* Overlay annonce masquée */
  .hidden-advert .square-img-ctn>div.image-bg-w270 {
    width: 120px;
    height: 120px;
  }
  .overlay-mask {
    top: 25px;
  }
  .hidden-advert h1 {
    font-size: 30px;
  }
  .hidden-advert h2 {
    font-size: 20px;
  }
  .hidden-advert .fullw-btn {
    width: 95%;
  }
  .hidden-advert .hidden-details {
    position: fixed;
    right: 15px;
  }
  .page-in-progress {
    padding-top: 0px;
    padding-bottom: 10px;
  }
}

/**********Mobile view end**********/

@media (max-width: 1088px) {
  .container {
    /* width: 96%; */
    width: 100%;
    margin: 0 auto;
  }
  .gradient-header-content {
    /* WARNING Marge OK pour page reco, attention effets de bord sur autres pages */
    margin-top: 110px;
    width: 100%;
  }
  #suggestions-ctn.gradient-header-content {
    margin-top: -15px;
  }
  .wrapper .container {
    width: 100%;
  }
  .container.delete-account-ctn {
    margin-top: 40px !important;
  }
  .big-padding-top-ctn {
    margin-top: 20px;
  }
  .top_right01 {
    width: 27.304%;
  }
  .head_form {
    margin: 80px auto 0;
    width: 94%;
    padding: 20px;
  }
  .head_form .form-group .col-md-3 {
    margin-bottom: 15px;
  }
  .delete-account-ctn h1, .account-ctn h1, .thanks-ctn h1, .affichette-ctn h1 {
    font-size: 19px;
  }
  .thanks-ctn {
    padding-bottom: 50px;
  }
  .thanks-ctn .gif-dad img {
    width: 200px;
  }
  .welarrow02 {
    left: -1%;
  }
  .middle01_inner {
    margin-right: 40px;
  }
  .vous_box {
    margin-right: 37px;
  }
  .check_right {
    width: 44%;
  }
  .midassbg {
    background-size: 1047px auto;
  }
  .midman02 {
    left: 7%;
  }
  .midman04 {
    left: 69%;
  }
}

@media (max-width: 1080px) {
  .headin_box02 {
    margin-right: 12px;
  }
}

@media (max-width: 1050px) {
  .top_right01 {
    width: 32%;
  }
  .vous_box {
    margin-right: 36px;
  }
  .midassbg {
    background-size: 1014px auto;
  }
  .midman02 {
    left: 6%;
  }
  .midman04 {
    left: 71%;
  }
}

@media (max-width: 1024px) {
  .top_right02 {
    width: 71.412%;
  }
  .headin_box02 {
    margin-right: 11px;
  }
  .middle01_inner {
    margin-right: 35px;
  }
  .vous_box {
    margin-right: 35px;
  }
  .midman02 {
    left: 5%;
  }
  .midman04 {
    left: 72%;
  }
  .headertsub {
    padding: 0 28px;
  }
}

@media (max-width: 980px) {
  .top_right01 {
    width: 30.304%;
  }
  .top_right02 {
    width: 67.412%;
  }
  .headin_box02 {
    margin-right: 10px;
  }
  .middle01_inner {
    margin-right: 36px;
  }
  .vous_box {
    margin-right: 33px;
  }
  .check_sec {
    width: 54.235%;
  }
  .midassbg {
    background-size: 951px auto;
  }
  .midman02 {
    left: 3%;
  }
  .midman04 {
    left: 75%;
  }
  .headertsub {
    padding: 0 25px;
  }
}

@media (max-width: 966px) {
  .check_sec {
    width: 57.235%;
  }
  .midman02 {
    left: 2%;
  }
  .midman04 {
    left: 77%;
  }
  .headertsub {
    padding: 0 24px;
  }
}

.maincomponent {
  padding: 0;
}

@media (max-width: 900px) {
  .top_right01 {
    width: 32.304%;
  }
  .top_right02 {
    width: 67.412%;
  }
  .top_right02 ul li a {
    padding: 0 10px;
  }
  .headin_box02 {
    margin-right: 9px;
  }
  .middle01_inner {
    margin-right: 33px;
  }
  .vous_box {
    margin-right: 30px;
  }
  .check_sec {
    width: 52.235%;
  }
  .headertsub {
    padding: 0 18px;
  }
  .midman04 {
    left: 68%;
  }
  .midbabybox {
    margin-right: 10px;
    /*width: 22.926%;*/
    width: 48%;
  }
  .midassbg {
    background-size: 867px auto;
  }
  .midform_sec {
    width: 568px;
  }
  .midman02 {
    left: 6px;
  }
  .midman04 {
    left: 79%;
  }
  .navbar .nav>li {
    padding: 0 10px;
    float: none;
  }
  #dialogoverlay {
    display: none;
    opacity: .8;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #FFF;
    width: 100%;
    z-index: 10;
  }
  #dialogbox {
    margin-top: 120px;
    display: none;
    width: 350px;
    z-index: 10;
    left: 13px !important;
  }
  #dialogbox>div>#dialogboxbody {
    background: #FFF;
    padding: 20px;
    color: #333;
  }
  #dialogbox>div>#dialogboxfoot {
    background: #FFF;
    padding: 10px;
    text-align: center;
  }
  #dialogbox>div>#dialogboxfoot button {
    margin-left: 15px;
    border: 1px solid grey;
    padding: 3px 35px;
  }
  .d_profilein {
    width: 100%;
  }
  .nombre-enfants label {
    display: block;
    width: 100%;
  }
  .select2-container {
    /*width: 100% !important;*/
    margin-bottom: 10px;
  }
  /*--- profile page ---*/
  /*--- tabmenu change ---*/
  .d_profilenav_sub {
    float: none;
    width: 100%;
  }
  .wizard .tab-pane {
    padding-top: 0px;
  }
  .d_profilenav_sub04 {
    margin-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
    width: auto;
  }
  .wizard .nav-tabs>li {
    width: 25%;
    border: 0px none;
  }
  .wizard .nav-tabs>li>a, .wizard .nav-tabs>li.active>a {
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 22Px;
    font-size: 14px;
    text-transform: capitalize;
  }
  .d_profile_mid h2 {
    font-size: 28px;
    padding-bottom: 0;
  }
  .list-inline {
    width: 100%;
  }
  .list-inline>li {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
  }
  .nounous-row .list-inline li {
    width: auto;
  }
  .d_profile_btn_sec ul.list-inline li .btn {
    width: 100%;
    margin-bottom: 20px;
  }
  .d_profile_btn_sec ul.list-inline li .btn.btn-default.prev-step {
    width: 100%;
    margin-bottom: 15px;
  }
  .d_profile_btn_sec ul.list-inline li .btn.btn-default.next-step {
    width: 100%;
  }
  .wizard {
    width: 100%;
  }
  .d_avail_sec table td:first-child {
    /* color: #ffffff; */
    font-size: 14px;
  }
  .submits-row .plain-btn {
    width: 100%;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
}

@media (max-width: 853px) {
  .headin_box02 {
    margin-right: 8px;
  }
  /* h2.header_text {
    padding: 372px 0;
  } */
  .head_form h2.header_text {
    padding: 0px;
    font-size: 30px;
  }
  .middle01_inner {
    margin-right: 25px;
  }
  .vous_box {
    margin-right: 29px;
  }
  .midform_sec {
    width: 516px;
  }
  .midman04 {
    left: 77%;
  }
  .middle04_sec {
    padding-bottom: 32px;
  }
  .midassbg {
    background-size: 827px auto;
  }
  .mdform {
    width: 100%;
  }
  .midbutton {
    width: auto;
    padding: 3px 74px;
  }
  .headertsub {
    padding: 0 14px;
  }
  .check_sec {
    width: 54.235%;
  }
  .navbar .btn-navbar {
    /*    background: #fff;*/
    position: relative;
    /*	margin-top: 8px;*/
    cursor: pointer;
    margin-bottom: 9px;
    /*	margin-top: -95px;*/
    background: #fff;
    width: 50px;
    height: 50px;
    padding: 8px 10px 14px 10px;
    float: right;
    margin-top: 26px;
  }
  .navbar .btn-navbar .icon-bar {
    display: block;
    width: 20px;
    height: 3px;
    background-color: #3e4847;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
  }
  .topsec {
    float: right;
    width: 100%;
  }
  .top_right02 {
    width: 100% !important;
  }
  .logo {
    float: none;
    /*width: 152px;*/
    width: 100Px;
    margin: 0 auto;
  }
  .logo img {
    width: 100%;
  }
  .nav-collapse .nav {
    padding-bottom: 15px;
    width: 100%;
  }
  .navbar .nav>li>a {
    padding: 0;
    color: #8d8d8d;
    line-height: normal;
  }
  .navbar-brand {
    float: none;
  }
  .navbar-default .navbar-toggle {
    border-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    z-index: 100;
  }
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
    border-color: transparent;
  }
  .navbar-default .navbar-toggle .icon-bar {
    color: #9cb113;
  }
  .logo_sec img {
    /*width: 20%;*/
    width: 80px;
    /* margin-top: 6px; */
    /*margin: 5px auto;*/
    /*display: block;*/
  }
  .logo_sec {
    /* margin: 2px auto -6px auto !important; */
    width: 50px !important;
    margin-top: 15px;
  }
  .profile_user_m {
    float: none;
    width: 100%;
  }
  .profile_user_r {
    float: left;
    width: 100%;
    margin-top: 20px;
  }
  .profile_box_colr_sub .profile_user_r {
    margin-top: 0;
    width: 100%;
  }
  .profile_box_coll {
    margin-left: 20px;
  }
  .profiledeatils_userimg_content {
    width: 70%;
  }
  .profiledeatils_r {
    float: left;
    width: 100%;
    margin-top: 30px;
  }
  .pro_midbox04 {
    float: left;
    margin-left: 0px;
    margin-top: 30px;
    width: 100%;
  }
  .probaby_left {
    float: none;
    width: 100%;
  }
  .probaby_right {
    float: none;
    width: 100%;
    margin-top: 30px;
  }
}

@media (max-width: 800px) {
  div#uddeim-m {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .profile_sec h1 {
    padding-top: 20px;
    font-size: 30px;
    line-height: normal;
  }
  .headin_box02 {
    margin-right: 7px;
  }
  .vous_box {
    margin-right: 26px;
  }
  .midform_sec {
    width: 464px;
  }
  .midbutton {
    padding: 3px 51px;
    width: auto;
  }
  .midforminbox_left {
    width: 47.799%;
  }
  .midforminbox_right {
    width: 47.799%;
  }
  .midassbg {
    background-size: 781px auto;
  }
  .headertsub {
    padding: 0 10px;
  }
  .check_sec {
    width: 64.235%;
  }
}

@media (max-width: 768px) {
  .headin_box02 {
    margin-right: 6px;
  }
  .headertsub {
    padding: 0 8px;
  }
  .midman02 {
    left: -3px;
  }
  .midassbg {
    background-size: 748px auto;
  }
}

@media (max-width: 714px) {}

@media (max-width: 640px) {
  .profile_contact #audiotel #phone {
    padding-left: 20%;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 47%;
  }
  .profile_contact #audiotel #price_phone {
    font-size: 12px;
    padding-left: 5%;
    padding-top: 23px;
    padding-bottom: 24px;
    width: 28%;
  }
  .pro_midbox04_left #audiotel #phone {
    font-size: 17px;
    padding-left: 10%;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 47%;
  }
  .pro_midbox04_left #audiotel #price_phone {
    font-size: 11px;
    padding-left: 5%;
    padding-top: 19px;
    padding-bottom: 19px;
  }
  .welarrow01 {
    display: none;
  }
  h2.header_text {
    padding: 0px 0 5px;
  }
  .head_form {
    text-align: center;
    margin: 45px auto 0;
    width: 100%;
    padding: 10px;
  }
  .headin_box01 {
    margin-bottom: 15px;
    width: 100%;
  }
  .head_in01 {
    width: 95.521%;
  }
  #tu.select-wrapper {
    width: 99% !important;
  }
  #to.select-wrapper {
    width: 99% !important;
  }
  .headin_box02 {
    margin-right: 11px;
    width: 48.855%;
  }
  .headin_box04 {
    width: 48.855%;
  }
  .headin_box03 {
    width: 100%;
  }
  .headertsub {
    padding: 0 28px;
  }
  .headertsub {
    width: 99%;
  }
  .middle01_inner {
    float: none;
    width: 100%;
  }
  .middle01_inner01 p {
    margin: 0 auto;
    padding: 0 0 15px;
    width: 59%;
  }
  .middle01_sec {
    padding-bottom: 70px;
  }
  .middle02_sec01 {
    text-align: center;
  }
  .vous_box {
    float: none;
    width: 100%;
  }
  .vous01 {
    margin: -78px auto 22px;
    width: 55%;
  }
  .middle02_sec {
    padding-bottom: 70px;
  }
  .midman04 {
    left: 69%;
  }
  .midman02 img {
    height: auto;
  }
  .midman02 {}
  .midman02 {
    top: -48px;
    width: 26%;
    left: 3px;
  }
  .midman04 {
    left: 72%;
    top: -41px;
    width: 25%;
  }
  .midwhite {
    padding-bottom: 131px;
  }
  .midform_sec {
    width: 333px;
  }
  .check_sec {
    width: 89%;
  }
  .midforminbox_left {
    width: 92.799%;
    margin-bottom: 15px;
  }
  input.middlein {
    width: 100%;
  }
  .midforminbox_right {
    width: 92.799%;
    float: none;
  }
  .midbutton {
    width: 101%;
  }
  .midbutton {
    text-align: center;
    width: 101%;
    padding: 0px;
    font-size: 14px;
  }
  .midbabybox {
    margin-bottom: 15px;
    width: 100%;
  }
  .midbabybox {
    margin: 0 auto 15px;
    width: 36%;
    float: none;
  }
  .midassbg {
    background-size: 613px auto;
  }
  .footerbox01 {
    float: none;
    margin-bottom: 30px;
    width: 100%;
  }
  .footerbox02 {
    float: none;
    margin-bottom: 30px;
    width: 100%;
  }
  .footerbox03 {
    float: none;
    margin-bottom: 30px;
    width: 100%;
  }
  .footerbox04 {
    float: none;
    margin-bottom: 30px;
    width: 100%;
  }
  .footerlogo {
    float: right;
    padding: 15px 0;
    width: 100%;
  }
  .footer_sec02 p {
    line-height: 23px;
    text-align: left;
  }
  p.footertop01 {
    line-height: 25px;
    /* width: 39%; */
  }
  .profile_sec {
    height: auto;
  }
  .profile_sec h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
  }
  .reset-pwd-ctn a.plain-btn {
    width: 100%;
    padding: 15px;
  }
  .profile_box_coll {
    float: none;
    padding-bottom: 0px;
    padding-top: 0px;
    width: 100%;
    margin-left: 0px;
  }
  .profile_box_col_sub_m {
    width: 100%;
  }
  .profile_userimg {
    float: left;
    width: 125px;
    margin-left: 10px;
    margin-right: 15px;
  }
  .profile_usercontent {
    text-align: left;
    width: 50%;
    float: right;
  }
  .profile_usercontent ul {
    text-align: left;
  }
  .profile_box_colr {
    border-left: 0px;
    float: left;
    margin-right: 20px;
    padding-bottom: 30px;
    padding-top: 0px;
    width: 100%;
    border-top: solid 1px #eeeeee;
    margin-top: 10px;
  }
  .profile_user_m h2 {
    width: 100%;
    font-size: 17px;
    line-height: 22px;
  }
  .profile_user_m ul {
    width: 100%;
  }
  /* .profile_user_r h3.experience-block, .profile_user_r_coll .availabilities, .profile_user_r_coll a.btn {
    float: left;
  } */
  .profile_user_r_coll {
    background-color: transparent;
    border: none;
  }
  .profile_user_r h3.experience-block, .profile_user_r_coll a.btn .hidden-md {
    display: inline !important;
  }
  .profile_user_r_coll ul {
    display: inline;
  }
  .profile_user_r_coll ul li {
    display: inline;
    padding: 0;
    margin: 0;
    text-transform: none;
    font-size: 15px;
  }
  .profile_user_r_coll ul li a {
    color: #919191;
    font-weight: 300;
  }
  .profile_user_r_coll ul li:after {
    content: ",";
  }
  .profile_user_r_coll ul li:last-of-type:after {
    content: "";
  }
  .profile_user_r_coll ul li i.fa {
    display: none;
  }
  .profile_user_r_coll a.btn {
    display: inline-block;
    width: auto;
    padding: 0;
    font-size: 15px;
    font-family: 'Lato';
    color: #333;
    margin: -3px 0 0 5px;
  }
  .profile_user_r {
    float: left;
    margin-top: 0px auto;
    width: 96%;
  }
  .breadcamp_right {
    display: none;
  }
  .breadcamp_left {
    width: 100%;
  }
  .breadcamp_left ul li {
    padding: 0 12px;
  }
  .profile_detail_box {
    padding: 10px;
  }
  .profiledeatils_userimg {
    width: 150px;
    margin: 20px auto auto auto;
    float: none;
  }
  .profiledeatils_userimg_content {
    float: none;
    margin-left: 0px;
    width: 100%;
    margin-top: 25px;
  }
  .pro_midbox04_left {
    float: none;
    width: 100%;
    margin-bottom: 65px;
  }
  .pro_midbox04_right {
    float: none;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  h2.probabytext01 {
    font-size: 20px;
    line-height: normal;
    padding: 10px 10px 15px 10px;
  }
  p.probabytext03 {
    margin-bottom: 15px;
  }
  .tablesaw-columntoggle td.title a, .tablesaw-swipe td.title a {
    line-height: 22px;
  }
  .tablesaw-advance {
    display: inherit;
    margin-right: 20px;
  }
  .profiledetails_sec h1 {
    padding-top: 10px;
    padding-bottom: 10px;
    /*padding-top: 35px;*/
    line-height: normal;
  }
  .profiledetails_sec {
    /*height: 163px;*/
    height: auto;
    padding: 10px 0;
  }
  .profile_details_m {
    display: inherit;
  }
  .probaby_sec, .probaby_left01, .pro_recommandations.view-reco {
    /* display: none; */
  }
  .pro_recommandations .probaby_left01 {
    display: block;
  }
  .pro_recommandationsform {
    float: left;
    /*margin-left: 10px;*/
    padding-bottom: 30px;
    width: 290px;
  }
  .profile_details_m span {
    font-size: 18px;
    padding-left: 7px;
    padding-right: 25px;
    border-left: solid 3px #f08a32;
  }
  .profile_details_m span.lnr {
    padding-left: 5px;
    padding-right: 5px;
  }
  .profile_details_m span.filled-stars, .profile_details_m span.empty-stars, .profile_details_m span.star {
    padding: 0;
    border-left: none;
  }
  .profile_details_m .rating-container span.filled-stars .star {
    color: #fde16d;
  }
  .headin_box02 {
    margin-right: 5px !important;
  }
  .head_in01 .headin_box04.select-style {
    width: 49% !important;
  }
  .head_in01 .headin_box02.select-style {
    width: 49%;
     !important;
  }
  .head_in01 .headin_box02.select-style {
    width: 49%;
     !important;
  }
  select.inputbox {
    margin: 0 0 15px 0 !important;
    background: url("../images/arrow.png") no-repeat 97% 50% #fff !important;
  }
}

@media (max-width: 480px) {
  .headin_box01 {
    width: 99%;
  }
  h2.header_text {
    font-size: 42px;
    line-height: 48px;
  }
  .vous01 {
    width: 73%;
  }
  .midman01 {
    display: none;
  }
  .midman01 {
    display: none;
  }
  .midman04 {
    display: none;
  }
  .midwhite {
    padding-bottom: 46px;
  }
  .midbabybox {
    width: 48%;
  }
  .midassbg {
    background-size: 461px auto;
  }
}

@media (max-width: 375px) {
  .headin_box01 {
    width: 98%;
  }
  #to.select-wrapper {
    width: 100% !important;
  }
  h2.header_text {
    font-size: 20px;
    line-height: 29px;
  }
  .vous01 {
    width: 93%;
  }
  .midbabybox {
    /*width: 63%;*/
    width: 50%;
    float: left;
  }
  .whiteb {
    /*font-size: 14px;*/
    line-height: 21px;
    padding: 10px;
  }
  a.whiteb {
    display: block;
  }
  .midassbg {
    background: none;
  }
  .footer_sec02 p {
    font-size: 12px;
    line-height: 23px;
    text-align: left;
  }
}

@media (max-width: 360px) {
  .midbabybox {
    width: 65%;
  }
  .footer_sec02 p {
    font-size: 11px;
  }
  h2.header_text {
    font-size: 32px;
    line-height: 36px;
  }
  .vous01 {
    width: 97%;
  }
}

@media (max-width: 320px) {
  .wrapper.page_search_wrapper .header_box h2.header_text {
    font-size: 19px;
    line-height: 25px;
  }
  .headin_box01 {
    width: 96%;
  }
  .middle01_inner01 h2 {
    line-height: 25px;
    padding: 0 10px;
  }
  .vous01 {
    width: 100%;
  }
  .midform_sec {
    width: 300px;
  }
  .midbutton {
    font-size: 13px;
  }
  .midbabybox {
    width: 75%;
  }
  .whiteb {
    font-size: 12px;
    line-height: 21px;
    padding: 13px;
  }
  .footer_sec02 p {
    font-size: 9px;
  }
  .check_sec {
    width: 96%;
  }
  .midbutton {
    text-align: center;
    width: 102%;
  }
  select.inputbox {
    background: url("../images/arrow.png") no-repeat 95% 50% #fff !important;
  }
}

/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /*BREADCRUMB*/
  .breadcamp_row {
    padding: 0px;
    margin-top: 20px;
    width: 100%;
  }
  .breadcamp_right {
    display: none;
  }
  .breadcamp_left ul li a {
    font-size: 11px;
  }
  /*HEADER LANDING PAGE*/
  .landing-highlight .row .vert-center-txt {
    position: relative;
    top: auto;
    transform: none;
  }
  .wrapper.page_search_wrapper {
    height: auto;
    max-height: none;
  }
  .landing-highlight .row h2 {
    line-height: 30px;
  }
  .wrapper.page_search_wrapper .header_box {
    padding-bottom: 40px;
    margin-top: 0px;
  }
  .wrapper.page_search_wrapper .header_sec {
    background: #424348;
  }
  /*LISTE D'ANNONCES*/
  .profile_content_sec .container .no-right-pd-col {
    padding-left: 0;
    padding-right: 0;
  }
  .profile_box_coll {
    width: 19%;
  }
  .navbar-nav, .navbar .nav>li {
    /*float: left !important;*/
    float: right !important;
  }
  .navbar-nav {
    margin-top: 20px !important;
  }
  .navbar li {
    overflow: inherit;
  }
}

/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

  /*COOKIES*/
  .cc-window.cc-banner {
    padding-bottom: 90px;
  }
  /*HEADER LANDING PAGE*/
  .wrapper .header_sec {
    /* Bannière flippante : */
    /* background: url(../images/slider-img/pomme-banner-mobile-3.png); */
  }
  .wrapper.page_search_wrapper .header_sec {
    margin-bottom: 0px;
    /*background: url(../images/slider-img/pomme-banner-mobile.jpg);
    background-position: center -120px;
    background-attachment: initial;
    background-repeat: no-repeat;*/
    background: #424348;
  }
  .small-menu {
    display: none;
  }
  /*.wrapper.page_search_wrapper .header_sec {
    background-image: url(../images/slider-img/pomme-banner-mobile.jpg);
  }*/
  .wrapper.page_search_wrapper {
    /*height: 700px;*/
    /*height: 400px;*/
    max-height: none;
  }
  .wrapper.page_search_wrapper .header_box {
    margin-top: 0px;
    padding-bottom: 30px;
  }
  .wrapper.page_search_wrapper .head_form {
    padding-top: 30px;
  }
  .landing-highlight {
    display: none;
  }
  .landing-highlight-mobile {
    display: block;
  }
  .landing-highlight-mobile .row {
    margin-bottom: 0;
  }
  .landing-highlight-mobile .row h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .landing-highlight-mobile .row p {
    font-size: 15px;
    line-height: 14px;
    letter-spacing: 0.06em;
  }
  .landing-highlight-mobile .row .vert-center-txt {
    position: relative;
    top: auto;
    transform: none;
  }
  .login-signin-slider {
    background-color: transparent;
    padding-bottom: 0;
  }
  .login-signin-slider .header-login-signinn-slider h1, .login-signin-slider .header-login-signinn-slider h2 {
    color: #fff;
  }
  .wrapper.page_search_wrapper .header_box h1.header_text {
    margin-top: 0px;
    line-height: 20px;
    font-size: 20px;
  }
  .login-signin-slider {
    margin-top: 0px;
    width: 90%;
  }
  .login-signin-slider .header-login-signinn-slider h2 {
    margin-bottom: 10px;
    font-size: 18px;
  }
  .login-signin-slider .topgreen, .login-signin-slider .toporange {
    display: block;
    width: 65%;
    margin: 0 auto;
    padding: 5px 20px;
  }
  .login-signin-slider .topgreen {
    margin-bottom: 10px;
  }
  /*LISTE ANNONCES*/
  .profile_content_sec h2 {
    font-size: 17px;
    line-height: 20px;
    margin-top: 15px;
  }
  .no-results-box a.plain-btn {
    margin-bottom: 15px;
    width: 100%;
  }
  .noAdvertLanding h2 {
    font-size: 15px;
    margin-top: 0;
  }
  .profile_content_sec .container .no-right-pd-col {
    padding-left: 5px;
    padding-right: 5px;
  }
  .profile_box_colr_sub {
    width: 100%;
    padding: 10px;
  }
  #search_advert_form_fraicheur label, #search_advert_parent_form_fraicheur label {
    width: 94%;
  }
  .search-filters {
    margin-top: 10px !important;
  }
  .search-filters span {
    width: 90%;
  }
  .search-filters .sort {
    width: 100%;
    padding-bottom: 5px;
  }
  /*PLATEFORME GESTION DES HEURES*/
  .mes-horaires-ctn .jours-gardes .day-interval {
    float: left;
    margin-right: 5px;
  }
  .mes-horaires-ctn .jours-gardes .select2-container {
    /*width: 75% !important;*/
  }
  .mes-horaires-ctn .panel-group .panel-body .btn-primary {
    width: 50%;
  }
  .timetable-header h3, .table-heading {
    font-size: 14px;
  }
  .timetable-row {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .timetable-row>div {
    padding-right: 5px;
    padding-left: 5px;
  }
  .timetable-row div p {
    /*margin-top: 20px;*/
    font-size: 13px;
  }
  .timetable-row div p.name {
    margin-top: 10px;
  }
  .timetable-row div p.duree {
    margin-top: 15px;
  }
  .timetable-row div p.duree-a-confirmer {
    margin-top: 0px;
  }
  .timetable-row div .bordered-btn {
    margin-top: 0;
    font-size: 12px;
  }
  .timetable-row div .adjust-shift-form {
    margin-top: 0;
  }
  .timetable-row div .form-group input[type=number] {
    /*width: 80px;*/
    width: 100%;
    display: inline;
  }
  .timetable-row .adjust-shift-form .form-group label {
    margin-bottom: 5px;
  }
  .timetable-row .adjust-shift-form .form-group input[type=number] {
    width: 80px;
  }
  .timetable-row button.buttcheck, .timetable-row button.buttuncheck, .timetable-row button.buttabscheck {
    line-height: 5px;
  }
  .timetable-row div .form-group .bordered-btn {
    margin: 0 auto;
    display: block;
    /*padding: 5px 50px;*/
    margin-top: 7px;
    width: 100%;
  }
  .mid_my_job_sub_left h1 {
    font-size: 22px;
  }
  .page-title h1 {
    font-size: 25px;
    font-weight: 700;
  }
  .latest_message_sec p, .latest_message_sec p a, .references-sec ul li {
    font-size: 14px;
  }
  .latest_message_sec.references-sec a.bordered-btn {
    width: 100%;
  }
  /*Messagerie*/
  .message_rightside_box01_left_img2, .message_rightside_box01_right, .message_rightside_box02_left {
    display: none;
  }
  /* .message_rightside_box03_left01,
  .message_rightside_box02_left01 {
    margin-bottom: 10px;
  } */
  .message_rightside_box03, .message_rightside_box02 {
    padding-top: 20px;
  }
  .message_rightside_box01>div:last-of-type {
    margin-bottom: 50px;
  }
  .short-prop h3 {
    font-size: 20px;
  }
  .buttons-flex-row, .buttons-flex-row a {
    display: block;
  }
  .buttons-flex-row a {
    width: 90%;
    margin: 0px auto 15px;
  }
  .mes-horaires-ctn .panel-default>.panel-heading, .mes-horaires-ctn h2.section-title {
    font-size: 18px;
  }
  .mes-horaires-ctn .shift-details {
    padding-left: 15px;
    padding-right: 15px;
  }
  .jours-gardes .col-xs-6, .jours-gardes .col-xs-10, .jours-gardes .col-xs-2, .jours-gardes .col-md-6 {
    padding-left: 5px;
    padding-right: 5px;
  }
  .mes-horaires-ctn .select2-container--bootstrap .select2-selection, .mes-horaires-ctn .jours-gardes .select2-container {
    width: 40px !important;
  }
  .mes-horaires-ctn a.bordered-btn {
    width: 100%;
  }
  /* Rédaction d'annonce */
  .dark-header h1 {
    line-height: 35px;
    font-size: 21px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  /*Nouvelle home*/
  .vousbg .overlay {
    opacity: .5;
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  select, textarea, input {
    font-size: 16px !important;
  }
}
