@media only screen and (min-device-width: 320px) and (max-device-width: 1920px) {
  html {
    -webkit-text-size-adjust: none;
  }
}


/*mobile start*/

@media only screen and (max-width: 320px) {}

@media only screen and (max-width: 375px) {
  .message_sec_left_filterselectdrop {
    float: right;
    width: 89%;
  }
  .select-style select.tu {
    font-size: 12px;
  }
}

@media only screen and (max-width: 414px) {
  .header_sec_left_sub h2 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 543px) {
  /*mobile portrait*/
  .message_rightside_box02_left01 h4 {
    font-size: 15px;
  }
  .message_rightside_box02_left01 p {
    font-size: 14px;
  }
  .message_rightside_box03_left01 h4 {
    font-size: 15px;
  }
  .message_rightside_box03_left01 p {
    font-size: 14px;
  }
}

@media only screen and (min-width: 544px) and (max-width: 767px) {
  /*mobile landscape*/
}

@media only screen and (max-width: 767px) {
  .small-wrapper {
    width: 100%;
    margin: 20px auto 30px;
  }
  .small-wrapper .box, .small-wrapper .box.first {
    float: none;
    margin: 0 auto;
  }
  .small-wrapper .box {
    height: 235px;
  }
  .small-wrapper .box a {
    padding: 13px;
    font-size: 13px;
  }
  .small-wrapper .box p {
    padding: 17px;
    text-align: center;
    font-size: 16px;
     min-height: auto;
  }
  .small-wrapper .box.first p {
    padding: 20px 25px;
  }
  .small-wrapper .box.first {
    /*margin-right: 0;*/
    margin-bottom: 15px;
  }
  .inscription {
    padding-top: 0px;
    min-height: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  .small-wrapper .baseline {
    margin-bottom: 20px;
  }
  .small-wrapper .box header h2 {
    font-size: 18px;
  }
  /*portrait & landscape mobile*/
  .topheader_sec_left ul {
    display: none;
  }
  .logo_sec {
    float: none;
    left: 0;
    position: static;
    top: 18px;
    width: 65px;
    z-index: 1000;
    margin: 0 auto;
  }
  .topheader_sec_right01 {
    display: none;
  }
  .topheader_sec_right02 {
    float: right;
    width: 66.66666666666667%;
    display: block;
  }
  .message_box, .notification_box {
    background-color: #f8f8f9;
    padding: 0;
    height: 65px;
  }
  .message_box {
    border-left: solid 1px #e7e7e7;
    border-right: solid 1px #e7e7e7;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 65px;
  }
  .message_box a {
    overflow: hidden;
    width: 39px;
    margin: 0px auto;
  }
  .message_box a img {
    margin-top: 25px;
  }
  .message_box b {
    margin-top: 8px;
  }
  .notification_box a {
    overflow: hidden;
    width: 32px;
    margin: 0px auto;
    display: block;
  }
  .notification_box a img {
    margin-top: 23px;
  }
  .notification_box b {
    margin-top: 8px;
  }
  .m_menu, .m_menu_loupe {
    display: inherit;
    color: #9ba0a3;
  }
  .m_menu {
    margin-left: 15px;
    margin-top: 10px;
  }
  .m_menu_loupe {
    text-align:right;
    /* margin-right: 15px; */
    font-size: 22px;
    /* margin-top: 6px; */
    position: absolute;
    right: 25px;
    top: 20px;
  }
  .mid_sec_left {
    display: none;
  }
  .mid_post_sec {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
  }
  .mid_post_section {
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
  /* Ceci sont les div du dashboard, ne pas faire n'importe quoi sur les paddings */
  .mid_post_sub {
    padding: 20px 10px;
  }
  .latest_message_sec .noFavoris {
    padding-left: 0px;
  }
  .latest_message_sec .noFavoris a {
    width: 100%;
  }
  .latest_message_messcoll_02_5 {
    margin-top: 10px;
  }
  .my-advert-ctn {
    padding-bottom: 0;
  }
  .my-advert-ctn .row>div:not(.text-center) {
    padding: 0;
  }

  .mid_post_orange_sec01 {
    width: 100%;
  }
  .mid_post_orange_sub {
    float: none;
    width: 100%;
  }
  .mid_post_orange_in {
    border: 1px solid #e7e7e7;
    width: 100%;
  }
  .latest_message_check {
    width: 40px;
  }
  .latest_message_messcoll_01, .latest_message_messcoll_sub, .latest_message_messcoll_02, .latest_message_messcoll_03 {
    width: 100%;
  }
  .latest_message_messcoll_sub {
    margin: 0;
  }
  .latest_message_messcoll_02 {
    margin-bottom: 15px;
  }

  /*.latest_message_messcoll_04 {
    float: none;
    width: 100%;
  }*/
  .mid_post_sub .latest_message_sec {
    margin-left: 0px;
    margin-right: 0px;
    /* padding-bottom: 10px; */
    padding-bottom: 0px;
    /*border-bottom: 1px solid #e7e7e7;*/
    padding-top: 15px;
  }
  .latest_message_sec .eval-row:nth-last-child(1),
  .mid_post_sub .latest_message_sec:last-of-type {
    border: none;
    padding-bottom: 0;
  }
  .mid_post_sub .latest_message_sec:first-of-type {
    padding-top: 0;
  }
  .latest_message_sec.references-sec a.bordered-btn, .latest_message_sec.references-sec a.plain-btn {
    width: 100%;
  }
  .latest_message_messcoll_01_img {
    width: 100%;
    margin-bottom: 15px;
  }
  .latest_message_messcoll_01_img img {
    width: 100%;
  }
  .latest_message_messcoll_03 h3 {
    font-size: 14px;
  }
  .latest_message_messcoll_02 h3 {
    font-size: 14px;
  }
  .mid_post_select_sec_right {
    width: 85%;
  }
  .baby_sitter_positin_sec {
    margin-left: 0;
  }
  .baby_sitter_positin_img001 {
    float: none;
    width: 100%;
  }
  .baby_sitter_positin_btn {
    float: none;
    width: 100%;
  }
  .baby_sitter_positin_btn_find a {
    display: block;
  }
  .baby_sitter_positin_btn_find {
    float: none;
    width: 100%;
  }
  .baby_sitter_positin_box {
    width: 33.33333333333333%;
    margin-bottom: 15px;
  }
  .header_sec {
    height: auto;
  }
  .mid_my_job_sub_right {
    float: none;
    margin-right: 0;
  }
  .mid_my_job_sec {
    padding: 10px;
  }
  .mid_my_job_sub_left {
    float: none;
    width: 100%;
  }
  .mid_my_job_sub_left p {
    margin-left: 0px;
    padding-left: 0px;
  }
  .mid_my_job_sub_right a:not(.plain-btn) {
    display: block;
    margin-left: 0px;
    margin-bottom: 20px;
  }
  .sb-slide, #sb-site, .sb-site-container, .sb-slidebar {
    /* -webkit-transform: translate( 0px);
    -moz-transform: translate( 0px);
    -o-transform: translate( 0px);
    transform: translate( 0px); */
    -webkit-transition: -webkit-transform 400ms ease;
    -moz-transition: -moz-transform 400ms ease;
    -o-transition: -o-transform 400ms ease;
    transition: transform 400ms ease;
    -webkit-transition-property: -webkit-transform, left, right;
    /* Add left/right for Android < 4.4. */
    -webkit-backface-visibility: hidden;
    /* Prevents flickering. This is non essential, and you may remove it if your having problems with fixed background images in Chrome. */
  }
  /*--- message details page ---*/
  .massege_details_col {
    /*padding: 129px 10px;*/
    padding: 0px 10px;
    width: 100%;
  }
  .massege_details_sec.conversation-list {
    padding-bottom: 40px;
  }
  .massege_details_sub01 {
    width: 100%;
    margin-bottom: 0px;
  }
  .message_rightside {
    float: none;
    width: 100%;
  }
  .message_rightside_box01_left, .message_rightside_box01_left0 {
    box-sizing: border-box;
    margin-right: 6%;
    width: 94%;
  }
  .message_rightside_box01_left {
    float: left;
    margin-right: 6%;
  }
  #formMessage .message_rightside_box01_left, .msg-disclaimer {
    width: 100%;
  }
  #formMessage .message_rightside_box01_left .arrow-down_right {
    display: none;
  }
  .message_rightside_box01_left01 {
    padding: 10px;
  }
  .message_rightside_box01_left0 {
    float: right;
    margin-right: 0;
    position: relative;
  }
  /*--- message details page ---*/
  /*--- profile page ---*/
  .profilein {
    width: 100%;
  }
  .profile_avg_sec input[type="text"] {
    width: 21%;
  }
  .profile_additional_sec input[type="text"] {
    width: 100%;
  }
  .select-style select.children {
    width: 100%;
  }
  .profile_btn_sec a {
    padding: 0 22px 0 36px;
  }
  .profile_mid_sub_col {
    padding: 0 0;
  }
  .profilenav_sub04 {
    margin-top: 109px;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
  }
  .resp-tab-content {
    background: #f5f5f6 none repeat scroll 0 0;
    box-sizing: border-box;
    padding: 0 0;
    width: 100%;
  }
  /*--- profile page ---*/
  /*--- availability page ---*/
  .avail_sec table td {
    border-left: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    border-bottom: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-align: center;
  }
  .avail_sec table td:first-child {
    background: #9cbb4b;
    color: #fff;
    font-size: 18px;
  }
  .avail_sec table td span:first-child {
    background: inherit;
    color: inherit;
  }
  .avail_sec table td input[type="checkbox"]:not(old)+label, .avail_sec table td input[type="radio"]:not(old)+label {
    margin: 0;
    float: right;
  }
  .datepicker_sub {
    width: 100%;
  }
  table.bt tfoot th::before, table.bt tfoot td::before, table.bt tbody td::before {
    background: #56a2cf none repeat scroll 0 0;
    color: white;
    margin-right: 10px;
    padding: 2px 10px;
  }
  /*--- availability page ---*/
  /*--- message page ---*/
  .message_sec_sub {
    float: none;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-right: 10px;
    padding-left: 10px;
  }
  .message_sec_sub_col_left {
    float: none;
    overflow: hidden;
    width: 100%;
  }
  .message_sec_left_filterimg {
    float: left;
    margin-left: 3%;
    width: 8%;
  }
  .message_sec_sub_col_right {
    float: none;
    overflow: hidden;
    width: 100%;
    margin-top: 15px;
  }
  a.supprimer {
    margin-right: 0px;
    width: 49%;
    padding: 10px 0;
    font-size: 13px;
  }
  a.response {
    margin-right: 0px;
    padding: 10px 0;
    float: left;
    width: 49%;
    font-size: 13px;
  }
  a.supprimer span img {
    margin-left: 10px;
  }
  a.response span img {
    margin-left: 10px;
  }
  .mid_post_section.mobile_sec {
    /*padding-top: 235px;*/
    /*padding-top: 190px;*/
  }
  /*--- message page ---*/
  /*--- index page ---*/
  .header_sec_left {
    text-align: center;
    width: 100%;
  }
  .header_sec_left_sub {
    float: none;
    width: 100%;
  }
  .header_sec_right {
    text-align: center;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 15px;
  }
  .mid_post_section.mobileindex {
    padding-top: 20px;
    /*padding-top: 210px;*/
    padding-left: 10px;
    padding-right: 10px;
  }
  /*--- index page ---*/
  .sb-slidebar.sb-left .mid_sec_left {
    display: inline;
    width: 100%;
    padding: 0px;
  }
  .sb-slidebar.sb-left .mid_sec_left_imgbg {
    height: auto;
    width: 29%;
    margin-bottom: 2%;
  }
  #espace_mobile_search {
    height: 100px;
  }
  #espace_mobile_conv {
    height: 100px;
  }
  .profile_box {
    background-color: #fff;
    border: solid 1px #e7e7e7;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 0px;
    margin-top: 10px;
    margin-bottom: 24px;
    padding: 15px;
  }
  .profile_box.no-results-box {
    padding: 0;
    padding-bottom: 15px;
  }
  .profile_box.profile_box_special {
    border: 2px solid rgba(242,215,12,1);
    left: 0;
  }
  .profile_content_sec {
    padding-top: 0;
  }
  .delete-account-ctn {
    margin-top: 40px !important;
  }
  /*Page recherche*/
  .p3 {
    /*margin-top: 85px;*/
    margin-top: 20px;
  }
  .scrollspy {
    position: relative;
    width: 100%;
  }
  #sidebar-left {
    margin-bottom: 0;
  }
  .affix {
    top: auto;
  }
  #sidebar-left.no-result-search-form #search_advert_form_TypeGarde, #sidebar-left.no-result-search-form .checkbox {
    display: block;
  }
  #sidebar-left.no-result-search-form .checkbox {
    text-align: left;
  }
  /*Post-it*/
  .post-it-col .post-it {
    position: relative;
    width: 100%;
  }
}


/*mobile view end*/


/**********Tablet view start**********/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #espace_mobile_search {
    height: 100px;
  }
  #espace_mobile_conv {
    height: 100px;
  }
  /*HEADER PRIVATE*/
  .logo_sec {
    top: 10px;
    left: 5px;
    width: 95px !important;
  }
  .topheader_sec_right02 {
    width: 100px;
  }
  .topheader_sec_left {
    width: auto;
    float: none;
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    margin-left: 50px;
  }
  .topheader_sec_left ul {
    margin-left: 30px;

  }
  .topheader_sec_left ul li {
    padding: 10px;
  }
  .header_sec {
    display: block;
    margin-bottom: 0px;
  }
  .header_sec_left .small-menu>li {
    margin-right: 10px;
  }
  /*Page recherche*/
  .p3 {
    /*margin-top: 85px;*/
  }
  .scrollspy {
    position: relative;
    width: 100%;
  }
  #sidebar-left {
    margin-bottom: 0;
  }
  .affix {
    top: auto;
  }
  /*DASHBOARD*/
  .mid_post_section {
    padding-top: 0px;
  }
  .mid_post_sec {
    padding: 30px 10px 0 10px;
  }
  .latest_message_messcoll_04 a {
    margin: 15px 0 15px 0;
  }
  .latest_message_messcoll_04 .bordered-btn {
    padding: 5px 10px;
  }
  /*Profil*/
  .profile_box {
    padding: 15px;
  }
  /*Post it*/
  .latest_message_messcoll_01_img img {
    margin-bottom: 10px;
  }
  /* .favorites-row>div:nth-child(1), .favorites-row>div:nth-child(2) {
    min-height: 95px;
  } */
  .post-it-col {

  }
  .post-it-col .post-it {
    left: 15px;
  }
}


}
@media only screen and (min-width: 768px) and (max-width: 991px) {}

/**********Tablet view end**********/

/**********Desktop version start**********/
@media only screen and (min-width: 992px) {}
@media only screen and (min-width: 993px) and (max-width: 1259px) {}

/**********Desktop version end**********/
@media (max-width: 1353px) {}
